<m param="{route}">
  <div class="auction-add-page" ng-open="formLabels('createAuctionForm')" >
    <h1>
      {{'texts.auction.create_auction' | i18next}}

      <span class="heading-right sorting-bar">
        <span class="select_auction_template">
          <label>{{'texts.auction.select_template_label' | i18next}}</label>
        </span>
        <span class="btn-group">
          <button class="sorting-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>{{selectedTemplate.name}}</span>
              <i class="glyphicon glyphicon-triangle-bottom"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-first-gray">
              <div class="dropdown-item" ng-repeat="template in templates" ng-click="selectTemplate(template)">
                  {{template.name}}
              </div>
          </div>
        </span>
        <i ng-show="selectedTemplate.ID !== 0" ng-click="deleteTemplate(selectedTemplate)" class="remove-template red cross glyphicon glyphicon-remove"
        title="{{'texts.delete_template_text' | i18next}}"></i>
      </span>
    </h1>

    <form name="createAuctionForm" novalidate>
      <div data-accordion-group>
        <div class="accordion" data-accordion>
          <h3 id="acc-part-1" data-control>{{'texts.auction.locations' | i18next}}</h3>
          <div data-content>
            <div>
              <div class="half">
                <h3>{{'texts.auction.from' | i18next}}</h3>
                <div class="form-group address-1">
                  <input class="form-control my-input required" placeholder="{{'texts.auction.street' | i18next}}" ng-model="full_adress_from.street" />
                </div>
                <div class="form-group address-2">
                  <input class="form-control my-input required" placeholder="{{'texts.auction.rest' | i18next}}" ng-model="full_adress_from.rest" />
                </div>
                <div class="form-group">
                  <input class="form-control my-input required" placeholder="{{'texts.auction.city' | i18next}}" ng-model="full_adress_from.city" />
                </div>
                <div class="form-group">
                  <select class="form-control my-input required" ng-model="full_adress_from.state" id="state-from">
                    <option value="" disabled>{{'texts.auction.state.label' | i18next}}</option>
                    <option value="cs">{{'texts.auction.state.cs' | i18next}}</option>
                    <option value="de">{{'texts.auction.state.de' | i18next}}</option>
                    <option value="pl">{{'texts.auction.state.pl' | i18next}}</option>
                    <option value="sk">{{'texts.auction.state.sk' | i18next}}</option>
                    <option value="au">{{'texts.auction.state.au' | i18next}}</option>
                    <option value="hu">{{'texts.auction.state.hu' | i18next}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <textarea name="load_note" id="load_note" class="form-control my-input" placeholder="{{'texts.auction.load_note' | i18next}}" ng-model="auction.load_note">
                  </textarea>
                </div>
              </div>

              <div class="half">
                <h3>{{'texts.auction.to' | i18next}}</h3>
                <div class="form-group address-1">
                  <input class="form-control my-input required" placeholder="{{'texts.auction.street' | i18next}}" ng-model="full_adress_to.street" />
                </div>
                <div class="form-group address-2">
                  <input class="form-control my-input required" placeholder="{{'texts.auction.rest' | i18next}}" ng-model="full_adress_to.rest" />
                </div>
                <div class="form-group">
                  <input class="form-control my-input required" placeholder="{{'texts.auction.city' | i18next}}" ng-model="full_adress_to.city" />
                </div>
                <div class="form-group">
                  <select class="form-control my-input required" ng-model="full_adress_to.state" id="state-to">
                    <option value="" disabled>{{'texts.auction.state.label' | i18next}}</option>
                    <option value="cs">{{'texts.auction.state.cs' | i18next}}</option>
                    <option value="de">{{'texts.auction.state.de' | i18next}}</option>
                    <option value="pl">{{'texts.auction.state.pl' | i18next}}</option>
                    <option value="sk">{{'texts.auction.state.sk' | i18next}}</option>
                    <option value="au">{{'texts.auction.state.au' | i18next}}</option>
                    <option value="hu">{{'texts.auction.state.hu' | i18next}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <textarea name="unload_note" id="unload_note" class="form-control my-input" placeholder="{{'texts.auction.unload_note' | i18next}}" ng-model="auction.unload_note">
                  </textarea>
                </div>
              </div>

                <div class="form-group text-center">
                    <div class="my-button normal-button big-button" ng-click="goToPart(2)">{{'texts.auction.go_next' | i18next}}</div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion" data-accordion>
          <h3 id="acc-part-2" data-control>{{'texts.about_freight' | i18next}}</h3>
          <div data-content>
            <div>
              <div class="form-group half">
                <input type="text" name="freight_description" id="freight_description" class="form-control my-input required" placeholder="{{'texts.auction.freight_description' | i18next}}" ng-model="auction.freight_description"
                       required />
              </div>
              <div class="form-group half">
                <select class="form-control my-input required" ng-model="auction.freight_type" name="freight_type" id="freight_type">
                  <option value="" disabled>{{'texts.auction.freight_type.label' | i18next}}</option>
                  <option value="1">{{'texts.auction.freight_type.1' | i18next}}</option>
                  <option value="2">{{'texts.auction.freight_type.2' | i18next}}</option>
                  <option value="3">{{'texts.auction.freight_type.3' | i18next}}</option>
                  <option value="4">{{'texts.auction.freight_type.4' | i18next}}</option>
                  <option value="5">{{'texts.auction.freight_type.5' | i18next}}</option>
                  <option value="6">{{'texts.auction.freight_type.6' | i18next}}</option>
                  <option value="7">{{'texts.auction.freight_type.7' | i18next}}</option>
                  <option value="8">{{'texts.auction.freight_type.8' | i18next}}</option>
                </select>
              </div>
              <div class="form-group half">
                <input type="text" name="freight_size" id="freight_size" class="form-control my-input required" placeholder="{{'texts.auction.freight_size' | i18next}}" ng-model="auction.freight_size"
                       ng-class="{'input-error' : createAuctionForm.freight_size.$invalid && (!createAuctionForm.freight_size.$pristine || clicked)}"
                       required />
              </div>
              <div class="form-group half">
                <input type="text" name="freight_weight" id="freight_weight" class="form-control my-input required" placeholder="{{'texts.auction.freight_weight' | i18next}}" ng-model="auction.freight_weight"
                       ng-class="{'input-error' : createAuctionForm.freight_weight.$invalid && (!createAuctionForm.freight_weight.$pristine || clicked)}"
                       required />
              </div>

                <div class="form-group text-center">
                    <div class="my-button normal-button big-button" ng-click="goToPart(3)">{{'texts.auction.go_next' | i18next}}</div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion" data-accordion>
          <h3 id="acc-part-3" data-control>{{'texts.auction.auction_list' | i18next}}</h3>
          <div data-content>
            <div>

              <div class="half">
                <h3 id="end_auction">{{'texts.auction.end_auction' | i18next}}</h3>
                <div class='datepickers datetimepicker1'>
                </div>
              </div>
              <div class="half">
                <h3 id="delivery">{{'texts.auction.delivery' | i18next}}</h3>
                <div class='datepickers datetimepickerDelivery'>
                </div>
              </div>
              <div class="form-group half">
                  <input type="number" name="quantity" min="1" step="1" autocomplete="disabled" id="quantity" class="big-input form-control my-input required text-right" placeholder="{{'texts.auction.quantity' | i18next}}" ng-model="auction.quantity"
                         ng-class="{'input-error' : createAuctionForm.quantity.$invalid && (!createAuctionForm.quantity.$pristine || clicked)}"
                         required />
              </div>
              <div class="form-group half">

                <div class="has-feedback has-feedback-right">
                  <input type="number" name="price" min="0" step="1" autocomplete="disabled" id="price" class="big-input form-control my-input required text-right" placeholder="{{'texts.auction.priceItem' | i18next}}" ng-model="auction.price"
                         ng-class="{'input-error' : createAuctionForm.price.$invalid && (!createAuctionForm.price.$pristine || clicked)}"
                         required />
                  <span class="form-control-feedback">Kč</span>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-offset-4 col-md-4 text-center auction-detail">
                  <div class="price-label">
                    {{'texts.auction.priceTotal' | i18next}}
                  </div>
                  <div id="final-price" class="price">
                    ?,-
                  </div>
                </div>
              </div>
              <div class="form-group half text-center">
                <div class="my-button easy-button big-button" ng-click="createTemplate()">{{'texts.create_template_button' | i18next}}</div>
              </div>
              <div class="form-group half text-center">
                <div class="my-button important-button big-button" ng-click="createAuction()">{{'texts.auction.create_auction' | i18next}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</m>

<script type="text/ng-template" id="modal_delete_auction" class="modal-content">
    <div class="modal-header">
        <h2>{{'texts.delete_auction_template' | i18next}}</h2>
    </div>

    <div class="modal-body">
        <span>{{'texts.delete_template_modal_text' | i18next}}</span>
    </div>
    <div class="modal-footer">
        <div class="my-button normal-button" ng-click="ok()">{{'texts.ok' | i18next}}</div>
        <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
    </div>
</script>

<script type="text/ng-template" id="modal_create_template" class="modal-content">
  <div class="modal-header">
    <h2>{{'texts.create_template' | i18next}}</h2>
  </div>

  <div class="modal-body">
    <div class="form-group half no-margin-element">
      <span>{{'texts.auction.template_name' | i18next}}</span>
      <input type='text' ng-model="template_name" name="template_name" class="form-control my-input" placeholder="{{'texts.auction.template_name' | i18next}}"
             ng-class="template_name.length ? null : 'input-error'" />
    </div>
  </div>
  <div class="modal-footer">
    <div class="my-button normal-button" ng-click="ok(template_name)">{{'texts.ok' | i18next}}</div>
    <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
  </div>
</script>

<script type="text/ng-template" id="modal_ensure_create_auction" class="modal-content">
  <div class="modal-header">
    <h2>{{'texts.create_auction_dialog_title' | i18next}}</h2>
  </div>

  <div class="modal-body">
    <div class="form-group no-margin-element">
      <span class="dialog-main-text">{{'texts.create_auction_dialog_main_text' | i18next}}</span>
      <div class="auction_summary">
        <table>
          <tr class="item">
            <td class="title">{{'texts.create_auction_dialog_from' | i18next}}: </td>
            <td class="value">{{full_adress_from.city}}</td>
          </tr>
          <tr class="item">
            <td class="title">{{'texts.create_auction_dialog_to' | i18next}}: </td>
            <td class="value">{{full_adress_to.city}}</td>
          </tr>
          <tr class="item">
            <td class="title">{{'texts.create_auction_dialog_end_auction' | i18next}}: </td>
            <td class="value">{{temporaryDate}}</td>
          </tr>
          <tr class="item">
            <td class="title">{{'texts.create_auction_dialog_quantity' | i18next}}: </td>
            <td class="value">{{auction.quantity}}</td>
          </tr>
          <tr class="item">
            <td class="title">{{'texts.create_auction_dialog_item_price' | i18next}}: </td>
            <td class="value">{{auction.price}},- Kč</td>
          </tr>
          <tr class="item">
            <td class="title">{{'texts.create_auction_dialog_item_total_price' | i18next}}: </td>
            <td class="value">{{auction.quantity * auction.price}},- Kč</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="my-button normal-button" ng-click="ok()">{{'texts.create_auction_dialog_ok' | i18next}}</div>
    <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
  </div>
</script>