<m param="{route}">
  <div class="auction-add-page" ng-open="formLabels('createAuctionForm')" >
    <h1>{{'texts.auction.create_auction' | i18next}}</h1>
    <style type="text/css">
      #map {
        height: 450px;
        width: 100%;
        border: 1px solid #e6e6f1;
      }
      #distance{
        text-align: center;
        margin: 10px 0;
      }
    </style>
    <script>
    $(function () {
                    $('.datetimepicker1').datetimepicker({
                      format: 'YYYY/MM/DD HH:mm',
                    });
                });
    </script>
    <form name="createAuctionForm" novalidate>
    <div class="form-group half">
        <input class="form-control my-input" placeholder="{{'texts.auction.from' | i18next}}" ng-model="auction.from"
          ng-class="{'input-error' : createAuctionForm.from.$invalid && (!createAuctionForm.from.$pristine || clicked)}"
          vs-google-autocomplete
          ng-model="auction.from"
          type="text"
          name="from"
          id="from"
          vs-place="from_address.place"
          vs-place-id="from_address.components.placeId"
          vs-street-number="from_address.components.streetNumber"
          vs-street="from_address.components.street"
          vs-city="from_address.components.city"
          vs-state="from_address.components.state"
          vs-country-short="from_address.components.countryCode"
          vs-country="from_address.components.country"
          vs-district = "from_address.components.district"
          required />
      </div>

      <div class="form-group half">
        <input class="form-control my-input" placeholder="{{'texts.auction.to' | i18next}}" ng-model="auction.to"
          ng-class="{'input-error' : createAuctionForm.to.$invalid && (!createAuctionForm.to.$pristine || clicked)}"
          vs-google-autocomplete
          ng-model="auction.to"
          type="text"
          name="to"
          id="to"
          vs-place="to_address.place"
          vs-place-id="to_address.components.placeId"
          vs-street-number="to_address.components.streetNumber"
          vs-street="to_address.components.street"
          vs-city="to_address.components.city"
          vs-state="to_address.components.state"
          vs-country-short="to_address.components.countryCode"
          vs-country="to_address.components.country"
          vs-district = "to_address.components.district"
          required />
      </div>
      <div class="form-group text-center">
        <div class="my-button easy-button big-button" ng-click="showMap()">{{'texts.show_hidden_map' | i18next}}</div>
      </div>
      <div class="map-wrapper">
        <div id="distance" style="display:none"></div>
        <div id="map" style="display:none"></div>
      </div>
      <div class="form-group half">
        <input type="text" name="price" class="form-control my-input" placeholder="{{'texts.auction.price' | i18next}}" ng-model="auction.price"
            ng-class="{'input-error' : createAuctionForm.price.$invalid && (!createAuctionForm.price.$pristine || clicked)}"
            required />
      </div>
      <div class="form-group half">
        <input type="text" name="load_note" class="form-control my-input" placeholder="{{'texts.auction.load_note' | i18next}}" ng-model="auction.load_note"
               ng-class="{'input-error' : createAuctionForm.load_note.$invalid && (!createAuctionForm.load_note.$pristine || clicked)}"
               required />
      </div>
      <div class="form-group half">
        <input type="text" name="unload_note" class="form-control my-input" placeholder="{{'texts.auction.unload_note' | i18next}}" ng-model="auction.unload_note"
               ng-class="{'input-error' : createAuctionForm.unload_note.$invalid && (!createAuctionForm.unload_note.$pristine || clicked)}"
               required />
      </div>
      <div class="form-group"></div>
      <h3>{{'texts.about_freight' | i18next}}</h3>
      <div class="form-group half">
        <input type="text" name="freight_description" class="form-control my-input" placeholder="{{'texts.auction.freight_description' | i18next}}" ng-model="auction.freight_description"/>
      </div>
      <div class="form-group half">
        <select class="form-control my-input" ng-model="auction.freight_type"
                ng-class="{'input-error' : createAuctionForm.freight_type.$invalid && (!createAuctionForm.freight_type.$pristine || clicked)}" required>
          <option value="" disabled selected>{{'texts.auction.freight_type.label' | i18next}}</option>
          <option value="1">{{'texts.auction.freight_type.1' | i18next}}</option>
          <option value="2">{{'texts.auction.freight_type.2' | i18next}}</option>
          <option value="3">{{'texts.auction.freight_type.3' | i18next}}</option>
        </select>
      </div>
      <div class="form-group half">
        <input type="text" name="freight_size" class="form-control my-input" placeholder="{{'texts.auction.freight_size' | i18next}}" ng-model="auction.freight_size"
               ng-class="{'input-error' : createAuctionForm.freight_size.$invalid && (!createAuctionForm.freight_size.$pristine || clicked)}"
               required />
      </div>
      <div class="form-group half">
        <input type="text" name="freight_weight" class="form-control my-input" placeholder="{{'texts.auction.freight_weight' | i18next}}" ng-model="auction.freight_weight"
               ng-class="{'input-error' : createAuctionForm.freight_weight.$invalid && (!createAuctionForm.freight_weight.$pristine || clicked)}"
               required />
      </div>
      <div class="form-group"></div>
      <h3>{{'texts.auction.auction_list' | i18next}}</h3>
      <div class="form-group half">
        <div class='input-group datetimepicker1'>
          <input type='text' name="end_auction" class="form-control my-input"  id="end_auction" placeholder="{{'texts.auction.end_auction' | i18next}}"
          ng-class="{'input-error' : createAuctionForm.end_auction.$invalid && (!createAuctionForm.end_auction.$pristine || clicked)}"
          required/>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group half">
        <input type="text" name="maturity" class="form-control my-input" placeholder="{{'texts.auction.maturity' | i18next}}" ng-model="auction.maturity"
            ng-class="{'input-error' : createAuctionForm.maturity.$invalid && (!createAuctionForm.maturity.$pristine || clicked)}"
            required />
      </div>
      <div class="form-group text-center">
        <div class="my-button important-button big-button" ng-click="createAuction()">{{'texts.auction.create_auction' | i18next}}</div>
      </div>
    </form>
  </div>
</m>