.middle{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    background: white;
    overflow: hidden;
}

.content{
    max-width: 1140px;
    margin: 0 auto;
}

/*auction*/
.auction-list-page{

}
.auction-list-page .auction-list{
    padding: 0;
    width: 100%;
}
.auction-list-page .auction-list .auction-header-line{
    padding: 0;
    background: #e6e6f1;
}
.auction-list-page .auction-list .auction-header{
    padding: 0;
    height: 40px;
}
.auction-list-page .auction-list .auction-cell{
    padding: 0;
    padding-top: 8px;
    padding-left: 8px;
}
.auction-list-page .auction-list .auction-label{
    display: none;
    padding: 0;
    text-align: center;
    background: #e6e6f1;
    font-weight: bold;
}

.auction-list-page .auction-list .auction-body{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item{
    margin-top: 15px;
    padding: 0;
    min-height: 40px;
    overflow: hidden;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-info{
    min-height: 40px;
    border: 2px solid #e6e6f1;
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-button-detail{
    padding: 0;
    text-align: right;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-button-detail .my-button{
    margin-right: 0;
    margin-bottom: 0;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail{
    padding: 8px;
    margin-top: 15px;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail span{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item:nth-last-child(1) > div:nth-last-child(1){
    text-align: right;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item:nth-last-child(1) span{
    text-align: center;
    line-height: 40px;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item:nth-child(n+5){
    margin-top: 30px;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item .detail-row{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item .detail-row div:nth-child(1){
    font-weight: bold;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item h2{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item div{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item .my-button{
    margin-right: 0;
    margin-bottom: 0;
    width: 155px;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item .my-input{
    margin-bottom: 8px;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item .bid{
    margin-bottom: 0;
}


/*Arrow on detail box*/
.popover {
    position: relative;
    display: block;
    max-width: none;
    border-radius: 0;
    border-top: 2px solid #e6e6f1;
    border-left: 2px solid #e6e6f1;
    border-right: 2px solid #e6e6f1;
    border-bottom: 2px solid #e6e6f1;
}
.popover.bottom>.arrow:after {
    top:2px;
    border-bottom-color: white;
}
.popover.bottom>.arrow {
    margin-left:-5px;
    border-bottom-color: #e6e6f1;
    margin-top:-1px;
}
.popover>.arrow {
    border-width: 12px;
}


/*Login page*/
.login-page .my-button{
    float: left;
}
.login-page{
    max-width: 558px;
}

/*Registration page*/
.registration-page{
    max-width: 558px;
}

/*Add user*/
.add-user-page{
    max-width: 558px;
}

/*Add vehicle*/
.add-vehicle-page{
    max-width: 558px;
}

@media (max-width: 991px) {
    .auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item:nth-child(n+4){
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    .no-padding{
        padding-left: 5px;
        padding-right: 5px; 
    }
}

@media (max-width: 767px) {
    .middle {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /*Auction*/
    .auction-list-page .auction-list .auction-header-line{
        display: none;
    }
    .auction-list-page .auction-list .auction-body .auction-item .auction-button-detail{
        text-align: center;
    }
    .auction-list-page .auction-list .auction-cell{
        text-align: center;
        padding: 0;
    }
    .auction-list-page .auction-list .auction-label{
        display: block;
    }
    .auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item:nth-child(n+3){
        margin-top: 30px;
    }
    .auction-list-page .auction-list .auction-body .auction-item .auction-detail .auction-detail-item .detail-row > div:nth-child(2){
        text-align: center;
    }

    /*Login page*/
    .login-page {
        margin: 0 auto;
        text-align: center;
    }

    /*Registration page*/
    .registration-page {
        margin: 0 auto;
        text-align: center;
    }
    .registration-page .my-button {
        margin: 0 auto;
    }

    /*Add user*/
    .add-user-page{
        margin: 0 auto;
        text-align: center;
    }
    .add-user-page .my-button {
        margin: 0 auto;
    }

    /*Add vehicle*/
    .add-vehicle-page{
        margin: 0 auto;
        text-align: center;
    }
    .add-vehicle-page .my-button {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .login-page .my-button{
        float: none;
        margin-right: 0;
        margin: 0 auto;
    }
}