.middle{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    background: white;
}

.content{
    max-width: 1140px;
    margin: 0 auto;
}
.no-overflow {
    overflow: initial!important;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 800px;
}

/*auction*/
.sorting-bar {
    width: 100%;
    padding-bottom: 10px;
    text-align: right;
}
.sorting-bar .sorting-label {
    text-align: center;
    font-weight: bold;
    padding-right: 15px;
}
.sorting-bar .sorting-button {
    float: right;
    background: white;
    color: #2c2d51;
    border: 1px solid #e6e6f1;
}

.sorting-bar .sorting-button span {
    padding-left: 10px;
    padding-right: 10px;
}

.sorting-bar .dropdown-menu {
    width: 230px;
}
.sorting-bar .dropdown-divider {
    width: 100%;
    height: 1px;
    background: #e6e6f1;
}
.sorting-bar .dropdown-item {
    padding-top: 3px;
    padding-bottom: 3px;
}
.sorting-bar .dropdown-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.clean-line-sm{
    display: none;
}
.clean-line-lg{
    display: block;
    margin-bottom: 25px;
}
.auction-list-page{
    margin-bottom: 10px;
}
.auction-list-page .auction-list{
    padding: 0;
    width: 100%;
}
.auction-list-page .auction-list .auction-header-line{
    padding: 0;
    background: #e6e6f1;
}
.auction-list-page .auction-list .auction-header{
    padding: 5px 0 10px 0;
    min-height: 50px;
    font-weight: bold;
}
.auction-list-page .auction-list .auction-cell{
    padding: 8px 0 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.auction-list-page .auction-list .auction-cell .new-price {
    -webkit-animation: animateNewPrice 1s 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
    animation: animateNewPrice 1s 2;
    animation-direction: alternate;
}

@keyframes animateNewPrice {
    0%   { font-size: 16px; font-weight: 400; }
    15%  { font-size: 18px; font-weight: 600; }
    25%  { font-size: 20px; font-weight: 900; }
    50%  { font-size: 25px; font-weight: 900; }
    65%  { font-size: 18px; font-weight: 600; }
    75%  { font-size: 20px; font-weight: 900; }
    100% { font-size: 16px; font-weight: 400; }
}

.auction-list-page .auction-list .auction-cell span{
    white-space: nowrap;
}
.auction-list-page .auction-list .auction-cell > div span:nth-child(1){
    float: left;
}
.auction-list-page .auction-list .auction-cell > div span:nth-child(2){
    float: right;
}
.auction-list-page .auction-list .auction-cell .glyphicon{
    cursor: pointer;
    padding-left: 4px;
}
.auction-list-page .auction-list .auction-label{
    display: none;
    padding: 0;
    text-align: center;
    background: #e6e6f1;
    font-weight: bold;
}

.auction-list-page .auction-list .auction-body{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .no-auction{
    text-align: center;
    padding: 10px 0 15px 0;
}

.auction-item{
    margin-top: 15px;
    padding: 0;
    min-height: 50px;
    overflow: hidden;
    border-bottom: 1px solid #e6e6f1;
}

.auction-item:last-child{
    border-bottom: none;
}
.auction-item .auction-info{
    height: 50px;
    padding: 0;
}
.auction-item .auction-info.auction-expired .end-date{
    color: #e91d27;
    border: none;
}
.auction-item .auction-button-detail{
    padding: 0;
    text-align: right;
}
.auction-item .auction-button-detail .my-button{
    margin-right: 0;
    margin-bottom: 0;
}
.auction-item .my-button.stop-shipment{
    float: right;
}
.auction-item .auction-detail{
    padding: 10px;
    margin: 15px 0;
    box-shadow: none;
    z-index: 1;
}
.auction-item .auction-detail span{
    padding: 0;
}
.auction-detail .auction-detail-item{
    padding: 10px 15px;
    border-right: 1px solid #ffffff;
}
.auction-detail .auction-detail-item .auction-result {
    text-align: left;
}
.auction-detail .auction-detail-item .auction-result .win {
    font-size: 25px;
    font-weight: bold;
    color: green;
}
.auction-detail .auction-detail-item .auction-result .lose {
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.auction-detail .auction-detail-item .detail-row{
    padding: 5px 0;
}
.auction-detail .auction-detail-item .detail-row.cities{
    padding-bottom: 15px;
}
.auction-detail .auction-detail-item .city-from{
    text-align: right;
}
.auction-detail .auction-detail-item .city-icons{
    text-align: center;
}
.auction-detail .auction-detail-item .detail-row.cities div{
    padding: 0 10px;
}
.auction-detail .auction-detail-item h2{
    font-family: MyFont, serif;
    margin: 0;
    padding: 0 0 15px 15px;
    padding-left: 0px;
}
.auction-detail .auction-detail-item .my-button{
    margin-right: 0;
    margin-bottom: 0;
    width: 155px;
}
.auction-detail .auction-detail-item .my-input{
    margin-bottom: 8px;
}
.auction-detail .auction-detail-item .bid{
    margin-bottom: 0;
}
.auction-detail .history-header{
    font-weight: bold;
    background: #f8f8ff;
    margin-right: 0;
}
.auction-detail .history-header div{
    padding: 5px;
}
.auction-detail .history-list{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
}
.auction-detail .history-list-item{
    border-bottom: 1px solid #f8f8ff;
}
.auction-detail .history-list-item:last-child{
    border-bottom: none;
}
.auction-detail .history-list div{
    padding: 5px;
}
.auction-bid > div {
    padding: 0;
}
.auction-bid > span {
    line-height: 40px;
    text-align: center;
}
.auction-bid > div:nth-last-child(1){
    padding: 0;
    text-align: right;
}
.auction-detail-item .detail-row .detail-label{
    font-weight: bold;
    padding: 0;
}
.is-favourite{
    color: #12133d;
}
.non-favourite{
    color: #aaaaaa;
}
.favouriteButton{
    cursor: pointer;
    margin: 5px 0 0 0;
    font-size: 20px;
}
.detail-button{
    width: calc(100% - 60px);
}
.favouriteButton:hover{
    transform: scale(1.2);
}

/*assignments*/
.assignments {
}
.assignments table{
    width: 100%;
}
.assignments table th:last-child{
    text-align: center;
}
.assignments table tr{
    border: 1px solid #e6e6f1;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.assignments table tr td:last-child{
    text-align: center;
}
.assignments table tr td .glyphicon{
    cursor: pointer;
}
.assignments table tr td .is-fixed {
    color: red;
    cursor: default;
}

/*Users Admin*/
.user-list td{
    vertical-align: middle!important;
}
.user-list .active {
    color: green;
}
.user-list td .glyphicon {
    cursor: pointer;
    font-weight: bold;
    padding-right: 15px;
}
/*My company*/
.company-list .delete{
    color: #e91d27;
    font-weight: bold;
}
.company-list .delete:hover{
    color: #d11a23;
    font-weight: bold;
    cursor: pointer;
}

.company-list td{
    vertical-align: middle!important;
}

/*Arrow on detail box*/
.popover {
    position: relative;
    display: block;
    max-width: none;
    border-radius: 0;
    border: none;
    background: #e6e6f1;
}
.popover.bottom>.arrow:after {
    top:2px;
    border-bottom-color: #e6e6f1;
}
.popover.bottom>.arrow {
    margin-left:-5px;
    border-bottom-color: #e6e6f1;
    margin-top:-1px;
    left: 92%;
}
.popover>.arrow {
    border-width: 12px;
}

.photo-buttons{
    position: absolute;
    top: 0;
    right: 15px;
    text-align: right;
}

.photo-buttons .my-button{
    margin-bottom: 15px!important;
}

.shipment-photos {
    min-height: 80px;
    background: #ffffff;
    text-align: center;
}

.shipment-photos .photo{
    display: inline-block;
    background-size: cover;
    width: 150px;
    height: 100px;
    margin: 8px;
    border: 1px solid #e6e6f1;
}

.shipment-photos .photo:hover{
    transform: scale(1.5);
    box-shadow: 0 0 5px #000;
    cursor: pointer;
}

.shipment-photos .no-photo {
    color: gray;
    text-align: center;
    line-height: 80px;
}

/*Login page*/
.login-page .my-button{
}
.login-page{
    max-width: 558px;
    margin: 0 auto;
}

/*Registration page*/
.registration-page{
    max-width: 100%;
}

/*ForgetPassword page*/
.forget-password-page{
    max-width: 558px;
    margin: 0 auto;
}
/*Manage page*/
.manage-page{
    max-width: 558px;
    margin: 0 auto;
}

/*Add user*/
.add-user-page{
    margin: 0 auto;
}

/*Add vehicle*/
.add-vehicle-page{
    margin: 0 auto;
}

/*auction ADD*/
.auction-add-page{

}

@media (max-width: 991px) {
    .clean-line-sm{
        display: block;
    }
    .clean-line-lg{
        display: none;
    }
    .auction-detail-item{
        margin-bottom: 30px;
    }
    .auction-detail-item:nth-last-child(1){
        margin-bottom: 0;
    }
}

@media (max-width: 900px) {
    .no-padding{
        padding-left: 5px;
        padding-right: 5px; 
    }
}

@media (max-width: 767px) {
    .shipment-photos .photo{
        height: 150px;
    }
    .content h1{
        text-align: center;
    }
    .middle {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /*Home*/
    .homePage{
        text-align: center;
    }
    .homePage .my-button{
        margin: 0;
    }
    /*Auction*/
    .clean-line-sm{
        display: none;
    }
    .clean-line-lg{
        display: none;
    }
    .auction-header-line{
        display: none;
    }
    .auction-item{
        border-bottom: none;
        padding-bottom: 20px;
    }
    .auction-item:nth-child(odd){
        background: #e6e6f1;
    }
    .auction-item .favouriteButton{
        position: relative;
        margin-top: 4px;
        margin-left: 10px;
        font-size: 28px;
    }
    .detail-button{
        width: calc(80% - 50px);
    }
    .auction-item .auction-info{
        height: auto;
    }
    .auction-item .auction-button-detail{
        text-align: center;
        padding-top: 3px;
    }
    .auction-list-page .auction-list .auction-cell{
        padding: 3px 0 3px 8px;
        display: inline-block;
        text-align: left;
    }
    .auction-list-page .auction-list .auction-label{
        padding: 3px 8px 3px 0;
        display: inline-block;
        background: none;
        text-align: right;
    }
    .auction-detail .history-list{
        text-align: center;
    }
    .auction-detail h2{
        text-align: center;
    }
    .auction-detail-item .detail-row .detail-content{
        text-align: left;
    }
    .auction-bid > div:nth-last-child(1){
        text-align: center;
    }
    .auction-bid > div{
        text-align: center;
    }
    .favouriteButton{
        font-size: 40px;
    }
    .popover.bottom>.arrow{
        left: 50%;
    }

    .photo-buttons{
        position: relative;
        right: 0;
        text-align: center;
    }
    /*Login page*/
    .login-page {
        margin: 0 auto;
        text-align: center;
    }
    /*User page*/
    .user-page {
        margin: 0 auto;
        text-align: center;
    }
    /*Registration page*/
    .registration-page {
        margin: 0 auto;
        text-align: center;
    }
    .registration-page .my-button {
        margin: 0 auto;
    }

    /*Add user*/
    .add-user-page{
        margin: 0 auto;
        text-align: center;
    }
    .add-user-page .my-button {
        margin: 0 auto;
    }

    /*Add vehicle*/
    .add-vehicle-page{
        margin: 0 auto;
        text-align: center;
    }
    .add-vehicle-page .my-button {
        margin: 0 auto;
    }
    /*Add auction*/
    .auction-add-page{
        margin: 0 auto;
        text-align: center;
    }
    .auction-add-page .my-button {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .login-page .my-button{
        float: none;
        margin-right: 0;
        margin: 0 auto;
    }
}