.middle{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    background: white;
    overflow: hidden;
}

.content{
    max-width: 1140px;
    margin: 0 auto;
}

/*auction*/
.auction-list-page{

}
.auction-list-page .auction-list{
    padding: 0;
    width: 100%;
}
.auction-list-page .auction-list .auction-header-line{
    padding: 0;
    background: #e6e6f1;
}
.auction-list-page .auction-list .auction-header{
    padding: 0;
    height: 50px;
}
.auction-list-page .auction-list .auction-cell{
    padding: 0;
    padding-top: 13px;
    padding-left: 13px;
}
.auction-list-page .auction-list .auction-body{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item{
    padding: 0;
    min-height: 50px;
    overflow: hidden;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-info{
    padding: 0;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-button-detail{
    padding: 0;
    text-align: right;
}
.auction-list-page .auction-list .auction-body .auction-item .auction-button-detail .my-button{
    margin-right: 0;
    margin-bottom: 0;
}


/*Login page*/
.login-page .my-button{
    float: left;
}
.login-page{
    max-width: 558px;
}

/*Registration page*/
.registration-page{
    max-width: 558px;
}

/*Add user*/
.add-user-page{
    max-width: 558px;
}

/*Add vehicle*/
.add-vehicle-page{
    max-width: 558px;
}

@media (max-width: 767px) {
    .middle {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /*Login page*/
    .login-page {
        margin: 0 auto;
        text-align: center;
    }

    /*Registration page*/
    .registration-page {
        margin: 0 auto;
        text-align: center;
    }
    .registration-page .my-button {
        margin: 0 auto;
    }

    /*Add user*/
    .add-user-page{
        margin: 0 auto;
        text-align: center;
    }
    .add-user-page .my-button {
        margin: 0 auto;
    }

    /*Add vehicle*/
    .add-vehicle-page{
        margin: 0 auto;
        text-align: center;
    }
    .add-vehicle-page .my-button {
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .login-page .my-button{
        float: none;
        margin-right: 0;
        margin: 0 auto;
    }
}