footer {
    width: 100%;
    position: relative;
    padding: 28px 80px 28px 80px;
    background: #e6e6f1;
    bottom: 0;
}

.footer-content {
    max-width: 1280px;
    margin: 0 auto;
}

.company-contact {
    float: left;
}

.company-contact ul {
    list-style-type: none;
    padding: 0;
}

.company-contact ul li {
    margin-bottom: 16px;
}

.company-contact .glyphicon {
    margin-right: 14px;
}

.company-contact h3 {
    padding-left: 0;
}

@media (max-width: 991px) {
    footer {
        padding: 10px 40px 10px 40px;
    }
    .footer-content {
        text-align: center;
    }
    .company-contact {
        float: none;
    }
}