.form-control-feedback{
 line-height: 40px;
}
.fa.form-control-feedback {
    line-height: 40px; /* @input-height-base; */
}
.input-sm ~ .fa.form-control-feedback {
    line-height: 30px; /* @input-height-base; */
}
.input-lg ~ .fa.form-control-feedback {
    line-height: 46px; /* @input-height-base; */
}

.has-feedback-left .form-control {
    padding-left: 34px; /* @input-height-base; */
    padding-right: 12px; /* @padding-base-horizontal */
}

.has-feedback-left .form-control-feedback {
    left: 0; 
}
.form-horizontal .has-feedback-left .form-control-feedback {
    left: 12px; /* @grid-gutter-width / 2 */
}

.has-feedback-left input.input-sm {
  padding-left: 30px;  @input-height-small;
}
.has-feedback-left input.input-lg {
  padding-left: 46px;  @input-height-large;
}

.form-group{
    position: relative;
    margin-top: 40px;
}

.form-group.half{
    display: inline-block;
    width: 45%;
    margin: 40px 2% 0 2%;
    vertical-align: top;
}

.form-group .input-label{
    position: absolute;
    top: -30px;
    left: 25px;
}

.form-group.buttons{
    text-align: center;
}

.my-input{
    border: 1px solid #e6e6f1;
    border-radius: 0;
    height: 40px;
}
.input-error{
    border: 1px solid #e91d27;
}
.text-error{
    color: #e91d27;
}

.form-control:focus{
    border-color: #e6e6f1;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 230, 241, .6);
}

.my-button{
    width: 165px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}

.big-button{
    width: 350px;
    padding-top: 5px;
    height: 50px;
}

.important-button{
    background: #e91d27;
}

.important-button:hover{
    background: #d11a23   ;
}

.normal-button{
    background: #12133d;
}

.normal-button:hover{
    background: #292a50 ;
}

.easy-button{
    background: white;
    color: #2c2d51;
    border: 1px solid #12133d;
}

.easy-button:hover{
    background: #EEEEEE;
}

.radio-group{
    text-align: right;
    font-size: 24px;
    margin: 20px 2% !important;
}

.radio-group:nth-of-type(2){
    text-align: left;
}

input[type=radio] {
    display: none;
}
input[type=radio] + label::before {
    content: '';
    display: inline-block;
    border: 0.15em solid #12133d;
    vertical-align: -8%;
    border-radius: 50%;
    margin: -2px 0.5em 0 0;
    opacity: 0.2;
}
input[type=radio]:checked + label::before {
    background: #aaaaaf;
    opacity: 0.6;
}

input[type=radio]:hover + label::before {
    opacity: 0.6;
}

input[type=checkbox] {
    margin-right: 15px;
}

.my-radio + label::before {
    width: 1em;
    height: 1em;
}

.input-group-addon{
    border: none;
    border-radius: 0px;
    background: #e6e6f1;
}

/* datetimepicker */

.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #12133d;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #12133d;
}
.bootstrap-datetimepicker-widget table td span.active {
    background-color: #12133d;
}

@media (max-width: 767px) {
    .big-button{
        min-width: 150px;
        width: 73%;
    }

    .form-group.half{
        display: block;
        width: 95%;
    }

    .radio-group, .radio-group:nth-of-type(2){
        text-align: center;
    }
}