@font-face {
    font-family: "MyFont";
    src: url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "socicon";
url(../fonts/fonts/socicon.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.red {
    color: #e91d27;
}

body {
    color: #2c2d51;
    font-size: 16px;
    font-family: MyFont;
}

h1 {
    font-size: 32px;
    margin: 10px 0 20px 0;
    padding: 0 0 7px 25px;
    border-bottom: 1px solid #e6e6f1;
}

h2 {
    color: #2c2d51;
    font-size: 19px;
    font-weight: bold;
    padding: 0 0 6px 20px;
    margin: 8px 0 16px 0;
    border-bottom: 1px solid #e6e6f1;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    padding: 0 0 7px 15px;
    margin: 7px 0 10px 0;
    border-bottom: 1px solid #e6e6f1;
}

h3.no-border {
    border-bottom: 0;
}

.heading-right {
    float: right;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

p {
    padding-bottom: 27px;
}

.angular-tooltip {
    background: #12133d;
    border: 2px solid #12133d;
}
.angular-tooltip.angular-tooltip-top-center:before, .angular-tooltip.angular-tooltip-top-middle:before, .angular-tooltip.angular-tooltip-top:before, .angular-tooltip.angular-tooltip-top-center:after, .angular-tooltip.angular-tooltip-top-middle:after, .angular-tooltip.angular-tooltip-top:after {
    border-top-color: #12133d;
}

.no-padding-element {
    padding-left: 0!important;
    padding-right: 0!important;
}
.no-margin-element {
    margin: 0!important;
}

#message {
    display: none;
    position: fixed;
    top: 0;
    right: 25%;
    left: 25%;
    text-align: center;
    font-weight: bold;
    padding: 15px 20px;
    z-index: 10000;
}

.green_text {
    color: green;
}
.error_text {
    color: red;
}

.error-message{
    background: #ffeaeb;
    border-bottom: 2px solid #e91d27;
    box-shadow: 0 0 15px -5px #e91d27;
}
.success-message{
    background: #ffffff;
    border-bottom: 2px solid #12133d;
    box-shadow: 0 0 15px -5px #12133d;
}
.warning-message{
    background: #ffecdb;
    border-bottom: 2px solid #ff810a;
    box-shadow: 0 0 15px -5px #ff810a;
}

.dropdown-menu{
    padding: 0;
    font-size: 16px;
    text-align: center;
}

.dropdown-menu > li > a{
    padding: 9px 20px;
}

/* MENU */
.menu-tabs{
    padding-right: 0;
    padding-left: 17%;
    border-bottom: 1px solid #e6e6f1;
    margin-bottom: 15px;
}
.menu-vertical .menu-divider{
    width: 100%;
    border: 1px solid #2c2d51;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tab {
    display: inline-block;
    vertical-align: bottom;
    min-width: 120px;
    max-width: 200px;
    padding: 10px 13px;
    margin: 0 7px;
    text-align: center;
    border: 1px solid #e6e6f1;
    background: #e6e6f1;
    border-radius: 5px 5px 0 0;
}
.tab:hover {
    font-weight: bold;
    cursor: pointer;
}
.tab.active {
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 12px 13px;
    font-weight: bold;
    margin-bottom: -1px;
}
.menu-vertical{
    padding-top: 5px;
    padding-right: 25px;
    padding-left: 0;
}
.menu-vertical .tab{
    padding: 10px 13px;
    margin: 10px 0;
    color: #2c2d51;
    background: #e6e6f1;
    border: 1px solid #e6e6f1;
    width: 100%;
    border-radius: 5px;
}
.menu-vertical .tab:hover {
    font-weight: bold;
    cursor: pointer;
}
.menu-vertical .tab.active{
    background: white;
    font-weight: bold;
}
.tab-content{
    padding-right: 0;
    padding-left: 0;
}

.desktop-only {
    display: block;
}

.phone-only {
    display: none;
}

@media (max-width: 991px) {
    /* MENU */
    .menu-tabs {
        padding-right: 0;
        padding-left: 0;
        text-align: center;
    }
    .my-button {
        margin-right: 0;
    }
    .menu-vertical {
        padding-right: 0;
        text-align: center;
    }
    .menu-vertical .tab {
        max-width: unset;
        width: 24%;
    }
}

@media (max-width: 767px) {
    h1 {
        padding: 0;
    }

    .menu-tabs .tab {
        min-width: unset;
        width: 20%;
    }
    .heading-right {
        float: none;
        display: block;
        vertical-align: top;
        font-size: 16px;
        border-top: 1px solid #eeeeee;
        padding-top: 3px;
        margin: 10px 0 3px;
    }
    .dropdown-toggle {
        text-align: center;
    }
    #message {
        right: 0;
        left: 0;
        width: 100%;
    }

    .desktop-only {
        display: none;
    }

    .phone-only {
        display: block;
    }

}

@media (max-width: 600px) {
    .menu-vertical .tab {
        width: 48%;
    }
}

@media (max-width: 500px) {
    /* MENU */
    .menu-tabs .tab {
        min-width: unset;
        width: 20%;
    }
    /*DateTime Picker*/
    .bootstrap-datetimepicker-widget.dropdown-menu {
        width: 100%;
    }
}

@media (max-width: 380px) {
    /* MENU */
    .menu-tabs .tab {
        padding: 10px 0;
        margin: -1px 4px;
    }
    .menu-tabs .tab.active {
        padding: 12px 0;
    }
}

