header {
    position: relative;
    padding: 28px 80px 28px 80px;
    background: #e6e6f1;
}

.header-content {
    max-width: 1280px;
    margin: 0 auto;
    line-height: 55px;
}

.header-left {
    padding-left: 0;
    padding-right: 0;
}

.header-logo {
    cursor: pointer;
    height: 55px;
    position: relative;
}

.logo-wrapper {
    display: inline-block;
}

.languages {
    display: inline-block;
}

.languages span {
    cursor: pointer;
}

.languages span:hover {
    color: #e91d27;
}
.languages .language-divider {
    font-weight: bold;
}

.header-right {
    text-align: right;
}

.header-right div {
    cursor: pointer;
}

.header-right .logout {
    padding-right: 0;
    color: #e91d27;
}

.header-right .glyphicon {
    top: 2px;
    margin-right: 10px;
}

@media (max-width: 991px) {
    header {
        padding: 10px 40px 10px 40px;
    }
    .header-logo {
        height: 60px;
    }
    .header-left {
        text-align: center;
    }
    .header-right .user {
        text-align: left;
    }
}


@media (max-width: 767px) {
    .header-right {
        padding: 0;
    }
    .header-right .user {
        text-align: center;
    }
    .header-right .logout {
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 500px) {
    header {
        padding: 10px 10px 10px 10px;
    }
    .header-right .user {
        padding: 0;
    }
}




