@font-face {
    font-family: "MyFont";
    src: url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "socicon";
    url(../fonts/fonts/socicon.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}



body{
    color: #2c2d51;
    font-size: 16px;
    font-family: MyFont;
}

h3{
    font-size: 16px;
    font-weight: bold;
}

header{
    padding-top: 29px;
}

.header-top{
    min-height: 80px;
    padding-left: 80px;
    padding-right: 80px;
}

.navbar-default{
    background: none;
    border: none;
}


.navbar-collapse{
    padding: 0;
}

.navbar-brand{
    padding: 0;
    width: 120px;
}

.header-bottom{
    min-height: 40px;
    background: #e6e6f1;
    padding-top: 8.6px;
    padding-left: 80px;
    padding-right: 80px;
    overflow: hidden;
}

.header-logo{
    float: left;
     padding-top: 12px;
}

.languages{
    float: left;
    padding-top: 12px;
}

.languages ul{
    list-style-type: none;
    display: flex;
    margin: 0;
}

.languages ul li{
    display: inline-block;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
}

.languages ul li:nth-child(n+2){
    border-left: 1px solid #2c2d51;
}

.languages ul li:hover span{
    color: #e91d27;
}

.header-menu{
    display: inline-block;
}

.header-button{
    width: 94px;
    text-align: center;
    cursor: pointer;
}

.dropdown-toggle{
    width: 94px;
}

.nav > li > a{
    padding-left: 0;
    padding-right: 0;
}

.navbar-nav > li > a{
    padding-bottom: 29px;
}

.navbar-nav > li:nth-child(n+3) > a{
    padding-bottom: 15px;
    padding-top: 15px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: none;
    color: #2c2d51; 
    border: 1px solid #e6e6f1;
}

.header-button:hover{
    font-weight: bold;
    border-bottom: 1px solid #e91d27;
}

.navbar-default .navbar-nav > li > a{
    color: #2c2d51;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    font-weight: bold;
    color: #2c2d51;
}

.header-button-important{
    width: 94px;
    margin-left: 8px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e6e6f1;
}
.header-button-important:hover{
    font-weight: bold;
}

.header-left{
    float: left;
}

.header-left ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header-left ul li{
    display: inline-block;
    cursor: pointer;
    padding-right: 6px;
}

.header-left ul li:nth-child(n+2){
    border-left: 1px solid white;
    padding-left: 6px;
}

.header-left ul li:hover span{
    font-weight: bold;
    border-bottom: 1px solid #2c2d51;
}

.header-right{
    display: inline-block;
    float: right;
}

.header-right div{
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

.header-right .logout{
    color: #e91d27;
}


/**/
@media (max-width: 767px) {
    .header-top{
        padding-left: 5px;
        padding-right: 5px;
    }
    .header-bottom{
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-toggle{
        margin-right: 0;
    }
    .header-button{
        width: 100%;
        height: 50px;
    }
    .dropdown-toggle{
        text-align: center;
        width: 100%;
        height: 50px;
    }
    .header-button-important{
        margin-left: 0;
        text-align: center;
        width:100%;
        height: 50px;
    }
    .navbar-nav{
        margin: 0;
    }
}

@media (max-width: 500px) {
    .languages{
        width: 100%;
        padding-top: 0;
        text-align: center
    }
    .languages ul{
        display: block;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 12px;
    }
}




