<div class="user-page">
  <h1>Your ACC</h1>
  <table>
    <tr>
      <td>Username:</td>
      <td><span>{{userInfo.username}}</span></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><span>{{userInfo.name}}</span></td>
    </tr>
    <tr>
      <td>Surname:</td>
      <td><span>{{userInfo.surname}}</span></td>
    </tr>
    <tr>
      <td>Role:</td>
      <td><span>{{userInfo.role}}</span></td>
    </tr>
  </table>
  <form name="changePasswordForm" novalidate>
    <div class="form-group has-feedback has-feedback-left">
      <input type="password" name="currentPass" class="form-control my-input" placeholder="Aktualni heslo" ng-model="account.currentPass" ng-class="{'input-error' : changePasswordForm.currentPass.$invalid && (!changePasswordForm.currentPass.$pristine || clicked)}" ng-minlength="8" required/>
      <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    </div>
    <div class="form-group has-feedback has-feedback-left">
      <input type="password" name="newPass" class="form-control my-input" placeholder="Nové heslo" ng-model="account.newPass" ng-class="{'input-error' : changePasswordForm.newPass.$invalid && (!changePasswordForm.newPass.$pristine || clicked)}" ng-minlength="8" required/>
      <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    </div>
    <div class="form-group has-feedback has-feedback-left">
      <input type="password" name="newPassRe" class="form-control my-input" placeholder="Znova nove heslo" ng-model="account.newPassRe" ng-class="{'input-error' : changePasswordForm.newPassRe.$invalid && (!changePasswordForm.newPassRe.$pristine || clicked)}" ng-minlength="8" required/>
      <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    </div>
    <div class="form-group">
      <div class="my-button important-button" ng-click="changePassword()">Change</div>
    </div>
  </form>
</div>