<div class="user-page">
  <h1>{{'texts.your_acc' | i18next}}</h1>
  <table>
    <tr>
      <td>{{'texts.username' | i18next}}:</td>
      <td><span>{{userInfo.username}}</span></td>
    </tr>
    <tr>
      <td>{{'texts.address_state' | i18next}}:</td>
      <td><span>{{userInfo.address_state}}</span></td>
    </tr>
    <tr>
      <td>{{'texts.address_street' | i18next}}:</td>
      <td><span>{{userInfo.address_street}}</span></td>
    </tr>
    <tr>
      <td>{{'texts.email' | i18next}}:</td>
      <td><span>{{userInfo.email}}</span></td>
    </tr>
    <tr>
      <td>{{'texts.company_name' | i18next}}:</td>
      <td><span>{{userInfo.company_name}}</span></td>
    </tr>
  </table>
  <h2>{{'texts.change_password' | i18next}}</h2>
  <form name="changePasswordForm" novalidate>
    <div class="form-group has-feedback has-feedback-left">
      <input type="password" name="currentPass" class="form-control my-input" placeholder="{{'texts.actual_password' | i18next}}" ng-model="account.currentPass" ng-class="{'input-error' : changePasswordForm.currentPass.$invalid && (!changePasswordForm.currentPass.$pristine || clicked)}" ng-minlength="8" required/>
      <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    </div>
    <div class="form-group has-feedback has-feedback-left">
      <input type="password" name="newPass" class="form-control my-input" placeholder="{{'texts.new_password' | i18next}}" ng-model="account.newPass" ng-class="{'input-error' : changePasswordForm.newPass.$invalid && (!changePasswordForm.newPass.$pristine || clicked)}" ng-minlength="8" required/>
      <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    </div>
    <div class="form-group has-feedback has-feedback-left">
      <input type="password" name="newPassRe" class="form-control my-input" placeholder="{{'texts.retype_password' | i18next}}" ng-model="account.newPassRe" ng-class="{'input-error' : changePasswordForm.newPassRe.$invalid && (!changePasswordForm.newPassRe.$pristine || clicked)}" ng-minlength="8" required/>
      <i class="glyphicon glyphicon-lock form-control-feedback"></i>
    </div>
    <div class="form-group">
      <div class="my-button important-button" ng-click="changePassword()">{{'texts.change' | i18next}}</div>
    </div>
  </form>
</div>