<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8"/>
		<title>Nohe</title>
		<base href="/" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/png"  href="images/favicon.png">

		<!-- scripts from NPM -->
		<script src="/node_modules/jquery/dist/jquery.js"></script>
		<script src="/node_modules/jquery-simple-timer/jquery.simple.timer.js"></script>
		<script src="/node_modules/jquery-countdown/dist/jquery.countdown.min.js"></script>
		<script src="/node_modules/moment/min/moment.min.js"></script>
		<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
		<script src="/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/bower_components/angular-timer/dist/angular-timer.js"></script>
		<script src="/bower_components/humanize-duration/humanize-duration.js"></script>
		<script src="/node_modules/lodash/lodash.js"></script>
		<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/node_modules/restangular/src/restangular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="/js/i18next-1.10.1.min.js"></script>
		<script src="/js/ng-i18next.js"></script>

		<!-- Config -->
		<script type="text/javascript" src="/app/config.js"></script>

		<!-- My Scripts -->
		<script type="text/javascript" src="/js/shared.js"></script>
		<script type="text/javascript" src="/js/loader.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>
		<script type="text/javascript" src="/js/routeMap.js"></script>

		<!-- Main File -->
		<script src="/app/app.js"></script>

		<!-- Services -->
		<script src="/app/shared/Services/ShipmentsService.js"></script>
		<script src="/app/shared/Services/AuctionService.js"></script>
		<script src="/app/shared/Services/UserService.js"></script>
		<script src="/app/shared/Services/UserAbilityService.js"></script>

		<!-- Controllers -->
		<script src="/app/shared/mainController.js"></script>
		<script src="/app/components/Account/Login/loginController.js"></script>
		<script src="/app/components/Account/Registration/registrationController.js"></script>
		<script src="/app/components/Account/Profile/userProfileController.js"></script>
		<script src="/app/components/Account/ForgotPassword/forgotPasswordController.js"></script>
		<script src="/app/components/Auction/Create/createAuctionController.js"></script>
		<script src="/app/components/Auction/List/auctionListController.js"></script>
		<script src="/app/components/Auction/CreatedAuction/createdAuctionController.js"></script>
		<script src="/app/components/Auction/FavouriteAuction/favouriteAuctionController.js"></script>
		<script src="/app/components/Auction/WinAuction/winAuctionController.js"></script>
		<script src="/app/components/Auction/BidsAuction/bidsAuctionController.js"></script>
		<script src="/app/components/Shipments/new/newShipmentsController.js"></script>
		<script src="/app/components/Shipments/inProgress/inProgressShipmentsController.js"></script>
		<script src="/app/components/Shipments/finished/finishedShipmentsController.js"></script>
		<script src="/app/components/Company/companyController.js"></script>
		<script src="/app/components/Company/AddDriver/addDriverController.js"></script>
		<script src="/app/components/Admin/Users/usersController.js"></script>

		<!-- Directives -->
		<script src="/app/shared/directives/detailAuctionDirective.js"></script>
		<script src="/app/shared/directives/detailShipmentDirective.js"></script>
		<script src="/app/shared/directives/Menu/menuDirective.js"></script>
		<script src="/app/shared/directives/egFiles.js"></script>
		<script src="/app/shared/directives/pagingDirective.js"></script>

		<!-- Route File -->
		<script src="/app/routes.js"></script>

		<!-- Google Maps JavaScript API -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyDv7qv63UymYWbSAL1m8ZRgYOj9yyrifxE"></script>
		<!-- autocomplete google -->
		<script src="/node_modules/geocomplete/jquery.geocomplete.js"></script>

		<!-- Styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css" />
		<link rel="stylesheet" href="/node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />
		<link rel="stylesheet" href="/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
		<!-- My Styles -->
		<link rel="stylesheet" href="css/form.css" />
		<link rel="stylesheet" href="css/loader.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/content.css" />
		<link rel="stylesheet" href="css/footer.css" />


	</head>
	
	
	<body ng-app="myApp" ng-controller="MainController">
		<!-- Loader -->
		<div class="loadPage">
			<div class="loader-circle"></div>		
		</div>
		<header>
			<div class="header-top">
				<img src="../images/nohelogo2.svg" ng-if="!isLoggedAdmin()" class="header-logo" alt="FREIGHTILY LOGO" ui-sref="auction" />
				<img src="../images/nohelogo2.svg" ng-if="isLoggedAdmin()" class="header-logo" alt="FREIGHTILY LOGO" ui-sref="users" />
				<div class="languages">
					<ul>
						<li><span ng-click="CZlng()">cz</span></li>
						<li><span ng-click="ENlng()">en</span></li>
					</ul>
				</div>
				<div ng-if="isLoggedUser()" class="header-right">
					<div class="user" ui-sref="my_profile"><span class="glyphicon glyphicon-user"></span><span>{{usernameMain}} ({{roleNameMain}})</span></div>
					<div class="logout" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>{{'texts.logout' | i18next}}</div>
				</div>
			</div>
		</header>
		<div class="middle" ng-open="afterRender()">
			<div class="row content" ui-view></div>
			<div id="message"></div>
		</div>
		<footer>
			<div class="footer-top">
				<div class="footer-content">
					<div class="company-contact">
						<h3>Nohe</h3>
						<ul>
							<li><span class="glyphicon glyphicon-earphone"></span><span>00 420 645 854 215</span></li>
							<li><span class="glyphicon glyphicon-envelope"></span><span>info@nohe.cz</span></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>