<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8"/>
		<title>Freightily</title>
		<base href="/" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- scripts from NPM -->
		<script src="/node_modules/jquery/dist/jquery.js"></script>
		<script src="/node_modules/jquery-simple-timer/jquery.simple.timer.js"></script>
		<script src="/node_modules/jquery-countdown/dist/jquery.countdown.min.js"></script>
		<script src="/node_modules/moment/min/moment.min.js"></script>
		<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/bower_components/angular-timer/dist/angular-timer.js"></script>
		<script src="/bower_components/humanize-duration/humanize-duration.js"></script>
		<script src="/node_modules/lodash/lodash.js"></script>
		<script src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/node_modules/restangular/src/restangular.js"></script>
		<script src="/node_modules/angular-ui-notification/dist/angular-ui-notification.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="/js/i18next-1.10.1.min.js"></script>
		<script src="/js/ng-i18next.js"></script>

		<!-- My Scripts -->
		<script type="text/javascript" src="/js/shared.js"></script>
		<script type="text/javascript" src="/js/loader.js"></script>
		<script type="text/javascript" src="/js/map.js"></script>

		<!-- Main File -->
		<script src="/app/app.js"></script>

		<!-- Services -->
		<script src="/app/shared/ShipmentsService.js"></script>
		<script src="/app/shared/AuctionService.js"></script>
		<script src="/app/shared/UserService.js"></script>
		<script src="/app/shared/UserAbilityService.js"></script>

		<!-- Controllers -->
		<script src="/app/shared/mainController.js"></script>
		<script src="/app/components/Account/Login/loginController.js"></script>
		<script src="/app/components/Account/Registration/registrationController.js"></script>
		<script src="/app/components/Account/Profile/userProfileController.js"></script>
		<script src="/app/components/Account/ForgotPassword/forgotPasswordController.js"></script>
		<script src="/app/components/Home/homeController.js"></script>
		<script src="/app/components/Auction/Add/auctionAddController.js"></script>
		<script src="/app/components/Auction/List/auctionListController.js"></script>
		<script src="/app/components/Auction/CreatedAuction/createdAuctionController.js"></script>
		<script src="/app/components/Auction/FavouriteAuction/favouriteAuctionController.js"></script>
		<script src="/app/components/Auction/WinAuction/winAuctionController.js"></script>
		<script src="/app/components/Auction/bidsAuction/bidsAuctionController.js"></script>
		<script src="/app/components/Manage/manageController.js"></script>
		<script src="/app/components/Shipments/myShipmentsController.js"></script>
		<script src="/app/components/Manage/ShipmentsManage/shipmentsManageController.js"></script>
		<script src="/app/components/Manage/ViewShipments/viewShipmentsController.js"></script>
		<script src="/app/components/MyCompany/myCompanyController.js"></script>
		<script src="/app/components/MyCompany/AddEmployee/addEmployeeController.js"></script>
		<script src="/app/components/MyCompany/AddVehicle/addVehicleController.js"></script>




		<!-- Directives -->
		<script src="/app/shared/directives/detailAuctionDirective.js"></script>
		<script src="/app/components/Manage/ViewShipments/egFiles.js"></script>

		<!-- Route File -->
		<script src="/app/routes.js"></script>

		<!-- Google Maps JavaScript API -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyDv7qv63UymYWbSAL1m8ZRgYOj9yyrifxE"></script>
		<!-- vsGoogleAutocomplete -->
		<script src="/node_modules/vsGoogleAutocomplete/dist/vs-google-autocomplete.js"></script>

		<!-- Styles -->
		<link rel="stylesheet" href="/node_modules/angular-ui-notification/dist/angular-ui-notification.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css" />
		<!-- My Styles -->
		<link rel="stylesheet" href="css/form.css" />
		<link rel="stylesheet" href="css/loader.css" />
		<link rel="stylesheet" href="css/header.css" />
		<link rel="stylesheet" href="css/content.css" />
		<link rel="stylesheet" href="css/footer.css" />


	</head>
	
	
	<body ng-app="myApp" ng-controller="MainController">
		<!-- Loader -->
		<div class="loadPage">
			<div class="loader-circle"></div>		
		</div>
		<header>
			<!-- Messages -->
			<div class="message"></div>
			<div class="header-top">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
							<img src="../images/logo.svg" class="header-logo" alt="FREIGHTILY LOGO" ui-sref="home" />
						</div>
						<div class="languages">
							<ul>
								<li><span ng-click="CZlng()"/>cz</span></li>
								<li><span ng-click="ENlng()">en</span></li>
								<li><span>de</span></li>
							</ul>
						</div>
					</div>
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" class="header-button">{{'texts.about' | i18next}}</a></li>
							<li><a href="#" class="header-button">Hover</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">dropdown<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Item</a></li>
									<li><a href="#">Item</a></li>
									<li><a href="#">Item</a></li>
								</ul>
							</li>
							<li><a href="#" class="header-button-important">{{'texts.contact' | i18next}}</a></li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="header-bottom">
				<div class="header-left">
					<ul>
						<li ng-repeat="item in navigationPath">
							<span ui-sref="{{item.link}}">{{item.path | i18next}}</span>
						</li>
					</ul>
				</div>
				<div class="header-right">
					<div class="user" ng-if="isLoggedUser()" ui-sref="account"><span class="glyphicon glyphicon-user"></span><span>{{usernameMain}} ({{roleNameMain}})</span></div>
					<div class="logout" ng-if="isLoggedUser()" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>{{'texts.logout' | i18next}}</div>
				</div>
			</div>
		</header>
		<div class="middle">
			<div class="content" ui-view></div>
		</div>
		<footer>
			<div class="footer-top">
				<div class="footer-content">
					<div class="company-contact">
						<h3>Freightily</h3>
						<ul>
							<li><span class="glyphicon glyphicon-earphone"></span><span>00 420 645 854 215</span></li>
							<li><span class="glyphicon glyphicon-envelope"></span><span>info@freightily.com</span></li>
							<li class="social-icons">
								<span class="fa fa-facebook"></span>
								<span class="fa fa-youtube"></span>
								<span class="fa fa-linkedin"></span>
							</li>
						</ul>
					</div>
					<div class="company-about">
						<h3>{{'texts.about_company' | i18next}}</h3>
						<ul>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>Pro média</span></li>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>Kariéra</span></li>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>Kontakty</span></li>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>Přehled služeb</span></li>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>FAQ</span></li>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>Poradna</span></li>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>Obchodní podmínky</span></li>
							<li><span class="glyphicon glyphicon-menu-right"></span><span>Možnosti platby</span></li>
						</ul>
						<!--<div class="payment-gateway">-->
							<!--PAY PAL, VISA-->
						<!--</div>-->
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="copyright">
					C 2016 FREIGHTILY s.r.o.
				</div>
				<div class="studio">
					<span>{{'texts.footer_text' | i18next}}</span>
				</div>
			</div>
			<!--<iframe src="http://walrus.gmc.net/workhours/WorkHours.aspx?month_year=201610&user=MMe" width="800" height="900">-->
			<!--</iframe>-->
		</footer>
	</body>
</html>