<div ng-click="toggleDetail($event)" class="global-list-item col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="driver.ID === User.ID ? 'myself' : null">
    <div class="auction-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="auction-label col-xs-6">{{'texts.username' | i18next}}</div>
        <div class="auction-cell col-xs-6 col-sm-3 col-md-3 col-lg-3"><span>{{driver.username}}</span></div>
        <div class="auction-label col-xs-6">{{'texts.name' | i18next}}</div>
        <div class="auction-cell col-xs-6 col-sm-3 col-md-3 col-lg-3"><span>{{driver.name}} {{driver.surname}}</span></div>
        <div class="auction-label col-xs-6">{{'texts.user.my_shipments' | i18next}}</div>
        <div class="auction-cell col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <b>{{driverShipments.length}}</b> / {{notAssignedShipments.length}}
        </div>
        <div class="auction-cell assignment col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="my-button normal-button assign-button" ng-click="assignDriver(driver.ID, $event)">
                {{'texts.user.assign_button' | i18next}}
            </div>
        </div>
    </div>
</div>
<div class="auction-detail popover bottom col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="arrow"></div>
    <h2 class="main-header">{{'texts.user.detail' | i18next}}
        <i ng-click="toggleDetail($event)" title="{{'texts.user.tooltips.close_detail' | i18next}}" class="red cross glyphicon glyphicon-remove"></i>
    </h2>
    <div class="auction-detail-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="detail-row">
            <div class="detail-label"><span class="glyphicon glyphicon-map-marker"></span> {{'texts.show_current_position' | i18next}}</div>
            <div class="detail-content">
                <div ng-show="isMap" id="user-map-{{driver.ID}}" class="map"></div>
                <div ng-show="isMap"> {{'texts.last_gps_update' | i18next}}: {{lastGpsUpdate}} <b>{{lastGpsUpdateTime}}</b></div>
                <div ng-show="!isMap" class="map">
                    <div class="icon glyphicon glyphicon-globe"></div>
                    <div class="info">
                        {{mapInfo}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auction-detail-item col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="detail-row">
            <div class="detail-label"><span class="glyphicon glyphicon-plane"></span> {{'texts.user.vacation' | i18next}} </div>
        </div>
        <div class="detail-row">
            <div class="detail-content">
                <div class="inputDatePicker-{{driver.ID}} datePickerVacation">
                </div>
                <div class="vacation-actions">
                    <div ng-if="!isVac" class="my-button normal-button" ng-class="(add_remove_vac_button_disabled) ? 'disabled' : ''" ng-click="addVacation(driver.ID)">
                        <span class="glyphicon glyphicon-plus"></span> {{'texts.add_vacation' | i18next}}
                    </div>
                    <div ng-if="isVac" class="my-button normal-button" ng-class="(add_remove_vac_button_disabled) ? 'disabled' : ''" ng-click="removeVacation(driver.ID)">
                        <span class="glyphicon glyphicon-minus"></span> {{'texts.delete_vacation' | i18next}}
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-row" ng-if="driver.ID !== User.ID">
            <div class="detail-content delete-content text-right">
                <div class="delete-user" ng-click="deleteUser(driver.ID)">
                    <span class="glyphicon glyphicon-trash delete"></span> {{'texts.delete_driver' | i18next}}
                </div>
            </div>
        </div>
    </div>
</div>