<m param="{route}">
    <div class="auction-list-page">
        <div class="auction-list col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <h1>{{'texts.shipment.new' | i18next}}</h1>
            <div ng-if="shipments.length" class="auction-header-line">
                <div class="auction-header">
                    <div class="auction-cell col-sm-3">{{'texts.auction.from' | i18next}}</div>
                    <div class="auction-cell col-sm-3">{{'texts.auction.to' | i18next}}</div>
                    <div class="auction-cell col-sm-4 col-md-4 col-lg-4">{{'texts.auction.freight_type.label' | i18next}}</div>
                    <div class="auction-cell col-sm-2">{{'texts.auction.price' | i18next}}</div>
                </div>
            </div>
            <div class="auction-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div ng-if="!shipments.length" class="no-auction">{{'texts.shipment.no_shipments' | i18next}}</div>
                <div class="auction-item" ng-repeat="item in shipments">
                    <detail-shipment shipment-item="{item}" new-shipment="true"></detail-shipment>
                </div>
                <paging item-count="shipments.length" all-items-count="shipmentsCount"></paging>
            </div>
        </div>
    </div>
</m>
<script type="text/ng-template" id="cancel_shipment" class="modal-content">
    <div class="modal-header">
        <h2>{{'warnings.stop_shipment_title' | i18next}}</h2>
    </div>
    <div class="modal-body">
        <span>{{'warnings.stop_shipment_text' | i18next}}</span>
    </div>
    <div class="modal-footer">
        <div class="my-button normal-button" ng-click="ok()">{{'texts.shipment.stopShipment' | i18next}}</div>
        <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
    </div>
</script>