<h1>{{'texts.Login' | i18next}}</h1>
<form>
  <div class="form-group">
    <label for="name">{{'texts.Username' | i18next}}:</label>
    <input type="text" class="form-control" id="name" placeholder="{{'texts.Username' | i18next}}" ng-model="name" required="string" required/>
  </div>
  <div class="form-group">
    <label for="password">{{'texts.Password' | i18next}}:</label>
    <input type="password" class="form-control" id="password" placeholder="{{'texts.Password' | i18next}}" ng-model="password" ng-minlength="5" required="string" required/>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="login()" value="{{'texts.Login' | i18next}}"/>
</form>