<style>
    .expired{
        background: red;
    }
    .nonexpired{
        background: green;
    }
</style>
<h1>Moje Aukce</h1>
<h2>Vyhrané aukce</h2>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Freight description</th>
        <th>Price</th>
        <th>Currency</th>
        <th>End auction</th>
    </tr>
    <tr ng-repeat="item in myWinAuction">
        <td>{{item.from}}</td>
        <td>{{item.to}}</td>
        <td>{{item.freight_description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.end_auction}}</td>
        <td><button ui-sref="auctionItem({id: item.ID})">DETAIL</button></td>
        <td>My drivers: 
            <select ng-model="driverSelect">
                <option ng-repeat="driver in drivers" value="{{driver.ID}}">
                    {{driver.username}} - {{driver.name}} {{driver.surname}} - {{driver.driver_licence}}   
                </option>
            </select>
        </td>
        <td><button ng-click="assigment(item.ID, driverSelect)">přiřadit</button></td>
    </tr>
</table>
<h2>Sledované aukce</h2>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Freight description</th>
        <th>Price</th>
        <th>Currency</th>
        <th>End auction</th>
    </tr>
    <tr ng-repeat="item in myFavouriteAuction">
        <td>{{item.from}}</td>
        <td>{{item.to}}</td>
        <td>{{item.freight_description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.end_auction}}</td>
        <td><button ui-sref="auctionItem({id: item.ID})">DETAIL</button></td>
    </tr>
</table>
<h2>Aukce na které přihazuji</h2>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Freight description</th>
        <th>Price</th>
        <th>Currency</th>
        <th>End auction</th>
    </tr>
    <tr ng-repeat="item in myAmountedAuction">
        <td>{{item.from}}</td>
        <td>{{item.to}}</td>
        <td>{{item.freight_description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.end_auction}}</td>
        <td><button ui-sref="auctionItem({id: item.ID})">DETAIL</button></td>
    </tr>
</table>

<h2>Přiřazené auta a řidiči</h2>
<table>
    <tr>
        <th>Detail Aukce</th>
        <th>Car</th>
        <th>Driver - name</th>
        <th>Driver - surname</th>
    </tr>
    <tr ng-repeat="item in assigments">
        <td><button ui-sref="auctionItem({id: item.id_auction})">DETAIL</button></td>
        <td>{{item.car_brand}}</td>
        <td>ID: {{item.id_driver}} - {{item.driver_name}}  {{item.driver_surname}}</td>
    </tr>
</table>
