<div class="registration-page" ng-open="formLabels('registrationForm')" >
  <h1>{{'texts.registration_employee' | i18next}}</h1>
  <form name="registrationForm" novalidate>
    <div class="form-group radio-group half">
      <input type="radio" name="role" class="my-radio" id="transporter" ng-model="user.role" value="2" required/>
      <label for="transporter">{{'texts.transporter' | i18next}}</label>
    </div>
    <div class="form-group radio-group half">
      <input type="radio" name="role" class="my-radio" id="sender" ng-model="user.role" value="1"/>
      <label for="sender">{{'texts.sender' | i18next}}</label>
    </div>
    <div class="form-group half">
      <input type="text" name="username" id="username" class="form-control my-input" placeholder="{{'texts.username' | i18next}}" ng-model="user.username"
        ng-class="{'input-error' : registrationForm.username.$invalid && (!registrationForm.username.$pristine || clicked)}" 
        required />
    </div>

    <div class="form-group half">
      <input type="email" name="email" class="form-control my-input" placeholder="{{'texts.email' | i18next}}" ng-model="user.email"
             ng-class="{'input-error' : registrationForm.email.$invalid && (!registrationForm.email.$pristine || clicked)}"
             required />
    </div>
    <div class="form-group half">
      <input type="password" name="password" id="password" class="form-control my-input" placeholder="{{'texts.password' | i18next}}" ng-model="user.password"
      ng-class="{'input-error' : registrationForm.password.$invalid && (!registrationForm.password.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="password" name="confirmPassword" class="form-control my-input" placeholder="{{'texts.confirmPassword' | i18next}}" ng-model="user.confirmPassword" 
      ng-class="{'input-error' : registrationForm.confirmPassword.$invalid && (!registrationForm.confirmPassword.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="name" class="form-control my-input" placeholder="{{'texts.name' | i18next}}" ng-model="user.name"
      ng-class="{'input-error' : registrationForm.name.$invalid && (!registrationForm.name.$pristine || clicked)}"
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="surname" class="form-control my-input" placeholder="{{'texts.surname' | i18next}}" ng-model="user.surname"
      ng-class="{'input-error' : registrationForm.surname.$invalid && (!registrationForm.surname.$pristine || clicked)}"
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="company_name" class="form-control my-input" placeholder="{{'texts.company_name' | i18next}}" ng-model="user.company_name" 
      ng-class="{'input-error' : registrationForm.company_name.$invalid && (!registrationForm.company_name.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="ico" id="ico" class="form-control my-input" placeholder="{{'texts.ico' | i18next}}" ng-model="user.ico"
      ng-class="{'input-error' : registrationForm.ico.$invalid && (!registrationForm.ico.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="bank_account" class="form-control my-input" placeholder="{{'texts.bank_account' | i18next}}" ng-model="user.bank_account" 
      ng-class="{'input-error' : registrationForm.bank_account.$invalid && (!registrationForm.bank_account.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="address_city" class="form-control my-input" placeholder="{{'texts.address_city' | i18next}}" ng-model="user.address_city"
      ng-class="{'input-error' : registrationForm.address_city.$invalid && (!registrationForm.address_city.$pristine || clicked)}"
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="address_street" class="form-control my-input" placeholder="{{'texts.address_street' | i18next}}" ng-model="user.address_street" 
      ng-class="{'input-error' : registrationForm.address_street.$invalid && (!registrationForm.address_street.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="address_house_number" class="form-control my-input" placeholder="{{'texts.address_house_number' | i18next}}" ng-model="user.address_house_number" 
      ng-class="{'input-error' : registrationForm.address_house_number.$invalid && (!registrationForm.address_house_number.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="psc" id="psc" class="form-control my-input" placeholder="{{'texts.psc' | i18next}}" ng-model="user.psc"
      ng-class="{'input-error' : registrationForm.psc.$invalid && (!registrationForm.psc.$pristine || clicked)}" 
      required />
    </div>
    <div class="form-group half">
      <input type="text" name="phone_number" class="form-control my-input" placeholder="{{'texts.phone_number' | i18next}}" ng-model="user.phone_number" 
      ng-class="{'input-error' : registrationForm.phone_number.$invalid && (!registrationForm.phone_number.$pristine || clicked)}" 
      ng-minlength="9" required />
    </div>
    <div class="form-group half">
      <label><input type="checkbox" name="accept_conditions" ng-model="user.accept_conditions"/>
        {{'texts.accept_conditions' | i18next}}
      </label>
    </div>
    <div class="form-group buttons">
      <div class="my-button big-button important-button" ng-click="registration()">{{'texts.registration' | i18next}}</div>
    </div>
  </form>
</div>