<div class="auction-list-page">
    <style>
        .expired{
            background: red;
        }
        .nonexpired{
            background: green;
        }
    </style>

    <h1>Aukce</h1>
    <div class="auction-list col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="auction-header-line col-sm-12 col-md-12 col-lg-12">
            <div class="auction-header col-sm-9 col-md-9 col-lg-10">
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">From</div>
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">To</div>
                <div class="auction-cell col-sm-4 col-md-4 col-lg-4">Freight description</div>
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">Price</div>
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">End auction</div>
            </div>
        </div>
        <div class="auction-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="auction-item" ng-repeat="item in AuctionList">
                <div class="auction-info col-xs-12 col-sm-9 col-md-9 col-lg-10">
                    <div class="auction-label col-xs-12">From</div>
                    <div class="auction-cell col-xs-12 col-sm-2 col-md-2 col-lg-2"><span>{{item.from.city}}</span></div>
                    <div class="auction-label col-xs-12">To</div>
                    <div class="auction-cell col-xs-12 col-sm-2 col-md-2 col-lg-2"><span>{{item.to.city}}</span></div>
                    <div class="auction-label col-xs-12">Freight description</div>
                    <div class="auction-cell col-xs-12 col-sm-4 col-md-4 col-lg-4"><span>{{item.freight_description}}</span></div>
                    <div class="auction-label col-xs-12">Price</div>
                    <div class="auction-cell col-xs-12 col-sm-2 col-md-2 col-lg-2"><span>{{item.price}}</span></div>
                    <div class="auction-label col-xs-12">End auction</div>
                    <div class="auction-cell col-xs-12 col-sm-2 col-md-2 col-lg-2"><span>{{item.end_auction}}</span></div>
                </div>
                <div class="auction-button-detail col-xs-12 col-sm-3 col-md-3 col-lg-2"><div class="my-button normal-button" ng-click="detail(item.ID)"><span>DETAIL</span></div></div>
                <detail-auction auction-item="{item}" id="{{item.ID}}" class="detail-auction-directive col-xs-12 col-sm-12 col-md-12 col-lg-12"></detail-auction>
            </div>
        </div>
	</div>

</div>
 <!--<td><button ui-sref="auctionItem({id: item.ID})">DETAIL</button></td>-->