<div class="auction-list-page">
    <style>
        .expired{
            background: red;
        }
        .nonexpired{
            background: green;
        }
    </style>

    <h1>Aukce</h1>
    <div class="auction-list col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
        <div class="auction-header-line col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
            <div class="auction-header col-xs-9 col-sm-9 col-sm-offset-0 col-md-9 col-md-offset-0 col-lg-10 col-lg-offset-0">
                <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0">From</div>
                <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0">To</div>
                <div class="auction-cell col-xs-4 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">Freight description</div>
                <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0">Price</div>
                <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0">End auction</div>
            </div>
        </div>
        <div class="auction-body col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
            <div class="auction-item" ng-repeat="item in AuctionList">
                <div class="auction-info col-xs-9 col-sm-9 col-sm-offset-0 col-md-9 col-md-offset-0 col-lg-10">
                    <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0"><span>{{item.from}}</span></div>
                    <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0"><span>{{item.to}}</span></div>
                    <div class="auction-cell col-xs-4 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0"><span>{{item.freight_description}}</span></div>
                    <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0"><span>{{item.price}}</span></div>
                    <div class="auction-cell col-xs-2 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-2 col-lg-offset-0"><span>{{item.end_auction}}</span></div>
                </div>
                <div class="auction-button-detail col-xs-3 col-sm-3 col-sm-offset-0 col-md-3 col-md-offset-0 col-lg-2 col-lg-offset-0"><div class="my-button normal-button"><span>DETAIL</span></div></div>
            </div>
        </div>
	</div>

</div>
 <!--<td><button ui-sref="auctionItem({id: item.ID})">DETAIL</button></td>-->