<div class="notification-page wrapper">
    <h1>
        {{'texts.notification.main' | i18next}}
        <span class="toggle-notification">
            <label>{{'texts.notification.toggle' | i18next}}</label>
            <input id="toggle-notification"
                   type="checkbox"
                   ng-checked="notificationEnabled"
                   data-toggle="toggle"
                   data-onstyle="nohe"
                   data-on="{{'texts.notification.toggleOn' | i18next}}"
                   data-off="{{'texts.notification.toggleOff' | i18next}}">
        </span>
    </h1>
    <div class="info-block">
        <span class="glyphicon glyphicon-info-sign icon"></span> {{'texts.notification.info' | i18next}}
    </div>
    <div class="wrapper row">
        <div class="col-lg-6">
            <h3>{{'texts.notification.sender' | i18next}}</h3>
            <table class="table table-striped">
                <tr ng-repeat="company in setCompanies">
                    <td class="company">
                        {{companies[company]}}
                    </td>
                    <td class="action">
                        <span class="glyphicon glyphicon-remove red btn" ng-click="removeCompany(company)"></span>
                    </td>
                </tr>
                <tr ng-show="toSelect.length && setCompanies.length < 3">
                    <td>
                        <label>
                            {{'texts.notification.addLabel' | i18next}}
                            <select ng-model="selectedCompany" ng-options="item as item.name for item in toSelect track by item.ID">
                                <option value="" disabled>{{'texts.notification.empty' | i18next}}</option>
                            </select>
                        </label>
                    </td>
                    <td>
                        <div ng-class="selectedCompany ? '' : 'disabled'" class="btn btn-xs normal-button" ng-click="addCompany()">{{'texts.notification.addButton' | i18next}}</div>
                    </td>
                </tr>
                <tr></tr>
                <tr ng-show="setCompanies.length >= 3">
                    <td>
                        <span class="glyphicon glyphicon-info-sign icon"></span> {{'texts.notification.maximum' | i18next}}
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <h3>{{'texts.notification.platform' | i18next}}</h3>
            <table class="info-block table">
                <tr>
                    <td>
                        {{'texts.notification.platformCreated' | i18next}}
                    </td>
                    <td>
                        <select ng-model="platform" ng-change="platformChange()">
                            <option value="1">{{'texts.notification.platforms.email' | i18next}}</option>
                            <option value="2">{{'texts.notification.platforms.sms' | i18next}}</option>
                            <option value="3">{{'texts.notification.platforms.both' | i18next}}</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="off-info" ng-show="!notificationEnabled">
            <span class="glyphicon glyphicon-info-sign icon"></span>
            {{'texts.notification.notificationOff' | i18next}}
        </div>
    </div>
</div>