<div class="manage-page">
    <h1>Manage</h1>
    <div ng-if="isSender">
        <div class="form-group">
            <div class="my-button normal-button" ui-sref="createdauction">My created auction</div>
        </div>
    </div>

    <div ng-if="isTransporter || isDispatcher">
        <div class="form-group">
            <div class="my-button normal-button big-button" ui-sref="shipments_manage">Shipments manage</div>
            <div class="my-button normal-button" ui-sref="view_shipments">View shipments</div>
        </div>
        <h1>Company</h1>
        <div class="form-group">
            <div class="my-button normal-button" ui-sref="new_vehicle">New vehicle</div>
            <div class="my-button normal-button" ui-sref="new_employee">New employee</div>
            <div class="my-button normal-button" ui-sref="my_company">My company</div>
        </div>
    </div>
</div>