<div class="manage-page">
    <h1>{{'texts.manage' | i18next}}</h1>
    <div ng-if="isSender">
        <div class="form-group">
            <div class="my-button normal-button" ui-sref="createdauction">{{'texts.auction.created_auction' | i18next}}</div>
        </div>
    </div>

    <div ng-if="isTransporter || isDispatcher">
        <div class="form-group">
            <div class="my-button normal-button big-button" ui-sref="shipments_manage">{{'texts.shipment_manage' | i18next}}</div>
            <div class="my-button normal-button" ui-sref="view_shipments">{{'texts.my_shipment' | i18next}}</div>
        </div>
        <h1>{{'texts.my_company' | i18next}}</h1>
        <div class="form-group">
            <div class="my-button normal-button" ui-sref="new_vehicle">{{'texts.new_vehicle' | i18next}}</div>
            <div class="my-button normal-button" ui-sref="new_employee">{{'texts.new_employee' | i18next}}</div>
            <div class="my-button normal-button" ui-sref="my_company">{{'texts.my_company' | i18next}}</div>
        </div>
    </div>
</div>