<h1>Home Page</h1>
<div class="homePage">
    <div class="form-group">
        <div class="my-button important-button" ui-sref="auction" >{{'texts.auction.auction_list' | i18next}}</div>
    </div>
    <div ng-if="isSender">
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="createdauction" >{{'texts.auction.created_auction' | i18next}}</div>
        </div>
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="addauction" >{{'texts.auction.add_auction' | i18next}}</div>
        </div>
    </div>
    <div ng-if="isTransporter">
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="favouriteAuction" >{{'texts.auction.favourite_auction' | i18next}}</div>
        </div>
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="bidsauction" >{{'texts.auction.bids_auction' | i18next}}</div>
        </div>
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="winauction" >{{'texts.win_auction' | i18next}}</div>
        </div>
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="manage" >{{'texts.manage' | i18next}}</div>
        </div>
    </div>
    <div ng-if="isDispatcher">
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="favouriteauction" >{{'texts.auction.favourite_auction' | i18next}}</div>
        </div>
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="bidsauction" >{{'texts.auction.bids_auction' | i18next}}</div>
        </div>
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="winauction" >{{'texts.win_auction' | i18next}}</div>
        </div>
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="manage" >{{'texts.manage' | i18next}}</div>
        </div>
    </div>
    <div ng-if="isDriver">
        <div class="form-group">
          <div class="my-button normal-button" ui-sref="shipments" >{{'texts.my_shipment' | i18next}}</div>
        </div>
    </div>
</div>