<h1>{{'texts.ShipmentDetail' | i18next}}</h1>
<div ng-if="shipment">
    <h2>O zásilce</h2>
    <ul>
        <li>Odkud: {{shipment.from}}</li>
        <li>Kam: {{shipment.to}}</li>
        <li>Price: {{shipment.price}}</li>
    </ul>
    <h2>O nákladu</h2>
    <ul>
        <li>Popis: {{freight.description}}</li>
        <li>Typ: {{freight.type}}</li>
        <li>Velikost: {{freight.size}}</li>
        <li>Váha: {{freight.weight}}</li>
    </ul>
    <h3>Aukce</h3>
    <ul>
        <li>Start auction: {{shipment.date}}</li>
        <li>End auction: {{shipment.end_auction}}</li>
        <li>Min amount: {{shipment.min_amount}}</li>
    </ul>
    <label for="add_amount">Add amount:</label>
    <input type="text" class="form-control" id="add_amount" placeholder="Add amount" ng-model="add_amount" required="string" required/>
    <button ng-if="shipmentExpired" ng-click="makeDeal(add_amount)">Make a deal</button>
</div>

