<style>
    .accepted{
        background: orange;
    }
    .noaccepted{
        background: green;
    }
</style>
<h1>{{'texts.Shipments' | i18next}}</h1>
<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Price</th>
        <th>Date</th>
        <th>Detail</th>
    </tr>
    <tr ng-repeat="shipment in shipments" ng-class="(shipment.accepted) ? 'accepted' : 'noaccepted'">
        <td>{{shipment.from}}</td>
        <td>{{shipment.to}}</td>
        <td>{{shipment.price}}</td>
        <td>{{shipment.date}}</td>
        <td><button ui-sref="shipment({id: shipment.ID})">DETAIL</button></td>
    </tr>
</table>