<span>
    <div class="menu-tabs col-md-12">
        <div class="tab" ui-sref="auction" ng-class="aboveRoute == 'auction' ? 'active' : null">
            {{'texts.tab.auction' | i18next}}
        </div>
        <div class="tab" ui-sref="account" ng-class="aboveRoute == 'account' ? 'active' : null">
            {{'texts.tab.account' | i18next}}
        </div>
    </div>
    <div class="menu-vertical col-md-2" ng-if="aboveRoute == 'auction'">
        <div class="tab" ui-sref="auction" ng-class="underRoute == 'list' ? 'active' : null">
            {{'texts.tab.list' | i18next}}
        </div>
        <div class="tab" ui-sref="bidsAuction"  ng-class="underRoute == 'bids' ? 'active' : null">
            {{'texts.tab.bids' | i18next}}
        </div>
        <div class="tab" ui-sref="winAuction" ng-class="underRoute == 'win' ? 'active' : null" >
            {{'texts.tab.win' | i18next}}
        </div>
        <div class="tab" ui-sref="favouriteAuction" ng-class="underRoute == 'favourite' ? 'active' : null">
            {{'texts.tab.favourite' | i18next}}
        </div>
        <div class="tab" ui-sref="expiredAuction"  ng-class="underRoute == 'expired' ? 'active' : null">
            {{'texts.tab.expired' | i18next}}
        </div>
        <div class="menu-divider"></div>
        <div class="tab" ui-sref="createAuction"  ng-class="underRoute == 'add' ? 'active' : null">
            {{'texts.tab.create_auction' | i18next}}
        </div>
        <div class="tab" ui-sref="createdAuction" ng-class="underRoute == 'created' ? 'active' : null">
            {{'texts.tab.created' | i18next}}
        </div>
    </div>
    <div class="menu-vertical col-md-2" ng-if="aboveRoute == 'account'">
        <div class="tab" ui-sref="account" ng-class="underRoute == 'profile' ? 'active' : null">
            {{'texts.tab.profile' | i18next}}
        </div>
        <div class="tab" ui-sref="change_password" ng-class="underRoute == 'changePass' ? 'active' : null">
            {{'texts.tab.change_password' | i18next}}
        </div>
        <div class="tab" ui-sref="notification" ng-class="underRoute == 'notifi' ? 'active' : null">
            {{'texts.tab.notification' | i18next}}
        </div>
        <div class="tab" ui-sref="finances" ng-class="underRoute == 'finance' ? 'active' : null">
            {{'texts.tab.finances' | i18next}}
        </div>
    </div>
</span>
<span ng-if="user.isAdmin()">
    <div class="menu-vertical col-md-2" ng-if="aboveRoute == 'admin'">
        <div class="tab" ui-sref="users" ng-class="underRoute == 'users' ? 'active' : null">
            {{'texts.tab.users' | i18next}}
        </div>
        <div class="tab" ui-sref="map" ng-class="underRoute == 'map' ? 'active' : null">
            {{'texts.tab.map' | i18next}}
        </div>
        <div class="tab" ui-sref="usersActivities" ng-class="underRoute == 'activities' ? 'active' : null">
            {{'texts.tab.activities' | i18next}}
        </div>
    </div>
</span>
<div class="col-md-10 tab-content" ng-transclude></div>