<div class="auction-info col-xs-12 col-sm-9 col-md-9 col-lg-10" ng-class="(expired) ? 'auction-expired' : 'nonexpired'">
    <div class="auction-label col-xs-6">{{'texts.auction.from' | i18next}}</div>
    <div class="auction-cell col-xs-6 col-sm-2 col-md-2 col-lg-2"><span>{{item.from.city}}</span></div>
    <div class="auction-label col-xs-6">{{'texts.auction.to' | i18next}}</div>
    <div class="auction-cell col-xs-6 col-sm-2 col-md-2 col-lg-2"><span>{{item.to.city}}</span></div>
    <div class="auction-label col-xs-6">{{'texts.auction.freight_type.label' | i18next}}</div>
    <div class="auction-cell col-xs-6 col-sm-4 col-md-4 col-lg-4"><span>{{vm.getFreightType(item.freight.freight_type)}}</span></div>
    <div class="auction-label col-xs-6">{{'texts.auction.price' | i18next}}</div>
    <div class="auction-cell col-xs-6 col-sm-2 col-md-2 col-lg-2"><span>{{item.current_price}}</span></div>
    <div class="auction-label col-xs-6">{{'texts.auction.end_auction' | i18next}}</div>
    <div class="auction-cell col-xs-6 col-sm-2 col-md-2 col-lg-2 end-date"><span>{{item.end_auction}}</span></div>

</div>
<div class="auction-button-detail col-xs-12 col-sm-3 col-md-3 col-lg-2 text-center">
    <div ng-if="vm.withFavourite" class="favouriteButton col-xs-2" ng-class="(isFavourite) ? 'is-favourite' : 'non-favourite'">
        <span class="glyphicon glyphicon glyphicon-star" ng-click="vm.favourite()"></span>
    </div>
    <div class="my-button normal-button phone-big-button detail-button" ng-click="toggleDetail()"><span>{{'texts.auction.detail' | i18next}}</span></div>
</div>
<div ng-show="show" class="auction-detail popover bottom col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="arrow"></div>
    <div>
        <div class="auction-detail-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2 class="red col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.auction.from' | i18next}}</h2>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.address_city' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.from.city}}</span></div>
            </div>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.address_street' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.from.street}}</span></div>
            </div>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.address_house_number' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.from.house_number}}</span></div>
            </div>
        </div>
        <div class="auction-detail-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2 class="red col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.auction.to' | i18next}}</h2>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.address_city' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.to.city}}</span></div>
            </div>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.address_street' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.to.street}}</span></div>
            </div>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.address_house_number' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.to.house_number}}</span></div>
            </div>
        </div>
        <div class="auction-detail-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <h2 class="red col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.about_freight' | i18next}}</h2>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.auction.freight_description' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.freight.freight_description}}</span></div>
            </div>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.auction.freight_type.label' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{vm.getFreightType(item.freight.freight_type)}}</span></div>
            </div>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.auction.freight_size' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.freight.freight_size}}</span></div>
            </div>
            <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="detail-label col-xs-3 col-sm-4 col-md-4 col-lg-4"><span>{{'texts.auction.freight_weight' | i18next}}:</span></div>
                <div class="detail-content col-xs-9 col-sm-8 col-md-8 col-lg-8"><span>{{item.freight.freight_weight}}</span></div>
            </div>
        </div>
    </div>
    <div class="clean-line-lg col-xs-0 col-sm-0 col-md-12 col-lg-12"></div>
    <div class="auction-detail-item col-xs-12 col-sm-6 col-md-4 col-lg-6">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.auction.history_amount' | i18next}}</h2>
        <div ng-if="history.length > 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="history-header row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    #
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{'texts.username' | i18next}}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{'texts.date' | i18next}}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    {{'texts.amount' | i18next}}
                </div>
            </div>
            <div class="history-list">
                <div class="history-list-item row"  ng-repeat="item_history in history">
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        {{$index + 1}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {{item_history.user_img}}
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        {{item_history.date}}
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        {{item_history.amount}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="history.length == 0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{'texts.no_amounts' | i18next}}
        </div>
    </div>
    <div ng-if="withBids && !expired" class="auction-detail-item auction-bid col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.want_bid' | i18next}}</h2>
        <div class="has-feedback has-feedback-left col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <input type="text" ng-model="bid" class="form-control my-input bid" placeholder="{{'texts.bid' | i18next}}"/>
            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
        </div>
        <span class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <timer countdown="item.secondsToEndAuction" max-time-unit="'day'" interval="1000">{{days}} D, {{hours}}:{{minutes}}:{{seconds}}</timer>
        </span>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="my-button important-button" ng-click="vm.bidAuction(bid)"><span>{{'texts.bid' | i18next}}</span></div>
        </div>
    </div>
    <div ng-if="expired" class="auction-detail-item auction-bid col-xs-12 col-sm-12 col-md-8 col-lg-6">
        <h2 class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.auction_complete' | i18next}}</h2>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="auction-result">
                <span ng-if="win" class="win">{{'texts.auction_win' | i18next}}</span>
                <span ng-if="!win" class="lose">{{'texts.auction_lose' | i18next}}</span>
            </div>
        </div>
    </div>
</div>