<div class="auction-info col-xs-12 col-sm-9 col-md-9 col-lg-10">
    <div class="auction-label col-xs-12">{{'texts.auction.from' | i18next}}</div>
    <div class="auction-cell col-xs-12 col-sm-2 col-md-2 col-lg-2"><span>{{item.from.city}}</span></div>
    <div class="auction-label col-xs-12">{{'texts.auction.to' | i18next}}</div>
    <div class="auction-cell col-xs-12 col-sm-2 col-md-2 col-lg-2"><span>{{item.to.city}}</span></div>
    <div class="auction-label col-xs-12">{{'texts.auction.freight_description' | i18next}}</div>
    <div class="auction-cell col-xs-12 col-sm-4 col-md-4 col-lg-4"><span>{{item.freight_description}}</span></div>
    <div class="auction-label col-xs-12">{{'texts.auction.driver' | i18next}}</div>
    <div class="auction-cell col-xs-12 col-sm-4 col-md-4 col-lg-4"><span>{{item.user.username}}</span></div>
</div>
<div class="auction-button-detail col-xs-12 col-sm-3 col-md-3 col-lg-2">
    <div class="my-button normal-button" ng-click="toggleDetail()"><span>{{'texts.auction.detail' | i18next}}</span></div>
</div>
<div ng-show="show" class="auction-detail popover bottom col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="arrow"></div>
    <div class="auction-detail-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <h2 class="red col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.auction.pickup_places' | i18next}}</h2>
        <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="detail-label col-xs-3 col-sm-4 col-md-3 col-lg-3"><span>{{'texts.auction.from' | i18next}}:</span></div>
            <div class="detail-content col-xs-9 col-sm-8 col-md-9 col-lg-9"><span>{{item.from.city}} - {{item.from.street}}</span></div>
        </div>
        <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="detail-label col-xs-3 col-sm-4 col-md-3 col-lg-3"><span>{{'texts.auction.to' | i18next}}:</span></div>
            <div class="detail-content col-xs-9 col-sm-8 col-md-9 col-lg-9"><span>{{item.to.city}} - {{item.to.street}}</span></div>
        </div>
    </div>
    <div class="auction-detail-item col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <h2 class="red col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.about_freight' | i18next}}</h2>
        <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="detail-label col-xs-3 col-sm-4 col-md-3 col-lg-3"><span>{{'texts.auction.freight_description' | i18next}}:</span></div>
            <div class="detail-content col-xs-9 col-sm-8 col-md-9 col-lg-9"><span>{{item.freight_description}}</span></div>
        </div>
        <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="detail-label col-xs-3 col-sm-4 col-md-3 col-lg-3"><span>{{'texts.auction.freight_type' | i18next}}:</span></div>
            <div class="detail-content col-xs-9 col-sm-8 col-md-9 col-lg-9"><span>{{item.freight_type}}</span></div>
        </div>
        <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="detail-label col-xs-3 col-sm-4 col-md-3 col-lg-3"><span>{{'texts.auction.freight_size' | i18next}}:</span></div>
            <div class="detail-content col-xs-9 col-sm-8 col-md-9 col-lg-9"><span>{{item.freight_size}}</span></div>
        </div>
        <div class="detail-row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="detail-label col-xs-3 col-sm-4 col-md-3 col-lg-3"><span>{{'texts.auction.freight_weight' | i18next}}:</span></div>
            <div class="detail-content col-xs-9 col-sm-8 col-md-9 col-lg-9"><span>{{item.freight_weight}}</span></div>
        </div>
    </div>
    <div class="auction-detail-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="red col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.shipment.photos' | i18next}}</h2>
        <div class="photo-buttons">
            <div class="my-button normal-button" ng-click="vm.showPhoto(item.id_auction, true)"><span>{{'texts.shipment.photos_before' | i18next}}</span></div>
            <div class="my-button normal-button" ng-click="vm.showPhoto(item.id_auction, false)"><span>{{'texts.shipment.photos_after' | i18next}}</span></div>
        </div>

        <div class="shipment-photos col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="no-photo" ng-if="!photoReady">{{'texts.shipment.no_photos' | i18next}}</div>
            <img ng-repeat="photo in showPhotos" src="{{photo}}" class="photo" />
        </div>
    </div>
    <div class="map-section auction-detail-item col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="red col-xs-12 col-sm-12 col-md-12 col-lg-12">{{'texts.shipment.map' | i18next}}</h2>
        <div class="map-container-{{item.id_auction}}">
            <div class="text-center show-map">
                <div class="my-button normal-button big-button" ng-click="vm.showMap(item.id_auction)">
                    <span ng-show="!mapIsDisplayed">{{'texts.shipment.show_map' | i18next}}</span>
                    <span ng-show="mapIsDisplayed">{{'texts.shipment.hide_map' | i18next}}</span>
                </div>
            </div>
            <div class="map-wrap col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="map-{{item.id_auction}}" class="map"></div>
            </div>
        </div>
        <!-- Only for Android app-->
        <!--<div class="my-button normal-button" ng-click="vm.checkQrCode(item.id_auction, '1008.2020.0')"><span>Check QR Code</span></div>
        <div class="my-button normal-button" ng-click="vm.postGPS(item.id_auction)"><span>Post GPS</span></div>
        <input type="file" id="newPhotos" class="uploadFile" accept="image/*" eg-files="photos" has-files="hasFiles" multiple>
        <input class="btn btn-primary" type="button" ng-click="vm.uploadPhoto(item.id_auction, photos)" value="upload">-->
    </div>
</div>