<div class="navigation-bar">
    <button class="navigation" ng-disabled="page <= '1'" ng-click="first()">
        <span class="fas fa-angle-double-left"></span>
    </button>
    <button class="navigation" ng-disabled="page <= '1'" ng-click="minus()">
        <span class="fas fa-angle-left"></span>
    </button>

    <span class="navigation-text-input">{{page}}</span> <span class="total-page">/ {{pagesCount}}</span>

    <button class="navigation" ng-disabled="isLastPage" ng-click="plus()">
        <span class="fas fa-angle-right"></span>
    </button>
    <button class="navigation" ng-disabled="isLastPage" ng-click="last()">
        <span class="fas fa-angle-double-right"></span>
    </button>
</div>