<m param="{route}">
  <div class="change-password-page" ng-open="formLabels('changePasswordForm')">
        <h1>{{'texts.change_password' | i18next}}</h1>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <form name="changePasswordForm" novalidate>
          <div class="form-group has-feedback has-feedback-left">
            <input id="currentPass" type="password" name="currentPass" class="form-control my-input" placeholder="{{'texts.actual_password' | i18next}}" ng-model="account.currentPass" />
            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback has-feedback-left">
            <input id="newPass" type="password" name="newPass" class="form-control my-input" placeholder="{{'texts.new_password' | i18next}}" ng-model="account.newPass" />
            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
          </div>
          <div class="form-group has-feedback has-feedback-left">
            <input id="newPassRe" type="password" name="newPassRe" class="form-control my-input" placeholder="{{'texts.retype_password' | i18next}}" ng-model="account.newPassRe" />
            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
          </div>
          <div class="form-group text-center">
            <div class="my-button big-button normal-button" ng-click="changePassword()">{{'texts.change' | i18next}}</div>
          </div>
        </form>
    </div>
  </div>
</m>