<m param="{route}">
    <h1>{{'texts.company' | i18next}}</h1>
    <div class="auction-list-page drivers-page">
        <div class="auction-list col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div ng-if="drivers.length" class="auction-header-line col-sm-12 col-md-12 col-lg-12">
                <div class="auction-header">
                    <div class="auction-cell col-sm-3 col-md-3 col-lg-3"><span>{{'texts.username' | i18next}}</span></div>
                    <div class="auction-cell col-sm-3 col-md-3 col-lg-3"><span>{{'texts.name' | i18next}}</span></div>
                    <div class="auction-cell col-sm-4 col-md-4 col-lg-4"><span>{{'texts.user.my_shipments' | i18next}}</span></div>
                    <div class="auction-cell col-sm-2 col-md-2 col-lg-2"></div>{{'texts.user.assign' | i18next}}
                </div>
            </div>
            <div class="auction-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="auction-item" ng-repeat="driver in drivers">
                    <detail-user driver="{driver}"></detail-user>
                </div>
            </div>
        </div>
        <div ng-if="!drivers.length" class="text-center text-info">
            {{'texts.no_drivers' | i18next}}
        </div>
    </div>
</m>

<script type="text/ng-template" id="modal_assign" class="modal-content">
    <div class="modal-header">
        <h2>{{'texts.assignment_modal_title' | i18next}}</h2>
    </div>
    <div class="modal-body">
        <div class="auction-list-page company-list">
            <div class="auction-list col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <div ng-if="shipmentsForDriver.length" class="auction-header-line col-sm-12 col-md-12 col-lg-12">
                    <div class="auction-header">
                        <div class="auction-cell col-sm-1 col-md-1 col-lg-1"><span>{{'texts.auction.id' | i18next}}</span></div>
                        <div class="auction-cell col-sm-3 col-md-3 col-lg-3"><span>{{'texts.auction.from' | i18next}}</span></div>
                        <div class="auction-cell col-sm-3 col-md-3 col-lg-3"><span>{{'texts.auction.to' | i18next}}</span></div>
                        <div class="auction-cell col-sm-3 col-md-3 col-lg-3"><span>{{'texts.auction.price' | i18next}}</span></div>
                        <div class="auction-cell col-sm-1 col-md-1 col-lg-1"><span>{{'texts.user.assigned' | i18next}}</span></div>
                        <div class="auction-cell col-sm-1 col-md-1 col-lg-1"><span>{{'texts.user.show_price' | i18next}}</span></div>
                    </div>
                </div>
                <div class="auction-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="auction-item" ng-repeat="shipment in shipmentsForDriver"
                         ng-class="shipment.driver !== 0 ? 'my-drive' : ''"
                         ng-click="setAssignment(shipment.ID, $event)">
                        <div class="auction-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="auction-label col-xs-6">{{'texts.auction.id' | i18next}}</div>
                            <div class="auction-cell col-xs-6 col-sm-1 col-md-1 col-lg-1"><span>{{shipment.ID}}</span></div>
                            <div class="auction-label col-xs-6">{{'texts.auction.from' | i18next}}</div>
                            <div class="auction-cell col-xs-6 col-sm-3 col-md-3 col-lg-3"><span>{{shipment.address_from}}</span></div>
                            <div class="auction-label col-xs-6">{{'texts.auction.to' | i18next}}</div>
                            <div class="auction-cell col-xs-6 col-sm-3 col-md-3 col-lg-3 "><span>{{shipment.address_to}}</span></div>
                            <div class="auction-label col-xs-6">{{'texts.auction.price' | i18next}}</div>
                            <div class="auction-cell col-xs-6 col-sm-3 col-md-3 col-lg-3"><span>{{shipment.price}},-</span></div>
                            <div class="auction-cell col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                <div class="assign-mark">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </div>
                            <div class="auction-cell col-xs-12 col-sm-1 col-md-1 col-lg-1">
                                <div class="show-price-mark"
                                     ng-class="shipment.show_price ? 'show-price' : ''"
                                     ng-click="setPriceVisibility(shipment.ID, $event); $event.stopPropagation()">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="shipmentsForDriver.length == 0" class="text-center no-shipments info">
                {{'texts.shipment.no_shipments' | i18next}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="my-button normal-button" ng-click="ok()">{{'texts.save' | i18next}}</div>
        <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
    </div>
</script>
<script type="text/ng-template" id="delete_user" class="modal-content">
    <div class="modal-header">
        <h2>{{'warnings.delete_driver_title' | i18next}}</h2>
    </div>
    <div class="modal-body">
        <span>{{'warnings.delete_driver_text' | i18next}}</span>
    </div>
    <div class="modal-footer">
        <div class="my-button normal-button" ng-click="ok()">{{'texts.delete_driver' | i18next}}</div>
        <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
    </div>
</script>