<m param="{route}">
    <h1>{{'texts.company' | i18next}}</h1>
    <div class="auction-list-page drivers-page">
        <div class="auction-list col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div ng-if="drivers.length" class="auction-header-line col-sm-12 col-md-12 col-lg-12">
                <div class="auction-header">
                    <div class="auction-cell col-sm-3 col-md-3 col-lg-3"><span>{{'texts.username' | i18next}}</span></div>
                    <div class="auction-cell col-sm-3 col-md-3 col-lg-3"><span>{{'texts.name' | i18next}}</span></div>
                    <div class="auction-cell col-sm-4 col-md-4 col-lg-4"><span>{{'texts.user.my_shipments' | i18next}}</span></div>
                    <div class="auction-cell col-sm-2 col-md-2 col-lg-2"></div>{{'texts.user.assign' | i18next}}
                </div>
            </div>
            <div class="auction-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="auction-item" ng-repeat="driver in drivers">
                    <detail-user driver="{driver}"></detail-user>
                </div>
            </div>
        </div>
        <div ng-if="!drivers.length" class="text-center text-info">
            {{'texts.no_drivers' | i18next}}
        </div>
    </div>
</m>

<script type="text/ng-template" id="modal_assign" class="modal-content">
    <div class="modal-header">
        <h2>{{'texts.assignment_modal_title' | i18next}}</h2>
        <button ng-click="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table ng-if="shipmentsForDriver.length > 0" class="table table-responsive company-list">
            <tr>
                <th>{{'texts.auction.id' | i18next}}</th>
                <th>{{'texts.auction.from' | i18next}}</th>
                <th>{{'texts.auction.to' | i18next}}</th>
                <th class="text-right">{{'texts.auction.price' | i18next}}</th>
                <th class="text-right">{{'texts.user.assigned' | i18next}}</th>
            </tr>
            <tr ng-repeat="shipment in shipmentsForDriver"
                ng-class="shipment.driver !== 0 ? 'my-drive' : ''"
                ng-click="setAssignment(shipment.ID, $event)">
                <td>{{shipment.ID}}</td>
                <td>{{shipment.address_from}}</td>
                <td>{{shipment.address_to}}</td>
                <td class="text-right">{{shipment.price}},-</td>
                <td class="text-right"><span class="glyphicon glyphicon-ok"></span></td>
            </tr>
        </table>
        <div ng-if="shipmentsForDriver.length == 0" class="text-center no-shipments info">
            {{'texts.shipment.no_shipments' | i18next}}
        </div>
    </div>
    <div class="modal-footer">
        <div class="my-button normal-button" ng-click="ok()">{{'texts.save' | i18next}}</div>
        <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
    </div>
</script>
<script type="text/ng-template" id="delete_user" class="modal-content">
    <div class="modal-header">
        <h2>{{'warnings.delete_driver_title' | i18next}}</h2>
    </div>
    <div class="modal-body">
        <span>{{'warnings.delete_driver_text' | i18next}}</span>
    </div>
    <div class="modal-footer">
        <div class="my-button normal-button" ng-click="ok()">{{'texts.delete_driver' | i18next}}</div>
        <div class="my-button easy-button" ng-click="cancel()">{{'texts.cancel' | i18next}}</div>
    </div>
</script>