<h1>My company</h1>
<div ng-if="isTransporter">
<h2>Dispatchers</h2>
<ul class="company-list">
    <li class="item" ng-repeat="dispatcher in dispatchers">
        <div class="info">
            <span>{{dispatcher.username}}</span>
            <span>{{dispatcher.name}}</span>
            <span>{{dispatcher.surname}}</span>
        </div>
        <div class="delete">
            <span class="glyphicon glyphicon-remove" ng-click="deleteUser(dispatcher.ID)"></span>
        </div>
    </li>
</ul>
</div>

<h2>Drivers</h2>
<ul class="company-list">
    <li class="item" ng-repeat="driver in drivers">
        <div class="info">
            <span>{{driver.username}}</span>
            <span>{{driver.name}}</span>
            <span>{{driver.surname}}</span>
            <span>{{driver.driver_licence}}</span>
        </div>
        <div class="delete">
            <span class="glyphicon glyphicon-remove" ng-click="deleteUser(driver.ID)"></span>
        </div>
    </li>
</ul>

<h2>Vehicles</h2>
<ul class="company-list">
    <li class="item" ng-repeat="vehicle in vehicles">
        <div class="info">
            <span>Type: {{vehicle.type}}</span>
            <span>Brand: {{vehicle.brand}}</span>
            <span>Capacity: {{vehicle.capacity}}</span>
            <span>RZ: {{vehicle.RZ}}</span>
            <span>Size: {{vehicle.size}}</span>
        </div>
        <div class="delete">
            <span class="glyphicon glyphicon-remove" ng-click="deleteVehicle(vehicle.ID)"></span>
        </div>
    </li>
</ul>