<m param="{route}">
  <div class="user-page">
      <h1>{{'texts.finances' | i18next}}</h1>
    <div ng-if="userInfo.start_credit > 0" class="wrapper">
      <div class="col-lg-6">
        <div class="charts">
          <canvas id="credit-chart"></canvas>
        </div>
        <table class="table table-borderless credit-info">
          <tr>
            <th>{{'texts.credit_all' | i18next}}:</th>
            <th>{{userInfo.start_credit - userInfo.end_credit}}&nbsp;Kč</th>
          </tr>
          <tr>
            <td colspan="2">
              <hr class="light">
            </td>
          </tr>
          <tr>
            <td>{{'texts.credit_reset' | i18next}}:</td>
            <td>{{userInfo.credit}},-&nbsp;Kč</td>
          </tr>
          <tr>
            <td>{{'texts.share' | i18next}}:</td>
            <td><b>{{sharePercent}}</b> ({{userInfo.share}} Kč)</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <div class="charts">
          <canvas id="history-chart"></canvas>
        </div>
      </div>
    </div>
    <div ng-if="userInfo.start_credit == 0" class="wrapper">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="text-center spacer">
          <span class="glyphicon glyphicon-info-sign icon"></span>
          {{'texts.no_finance' | i18next}}
        </div>
      </div>
    </div>
  </div>
</m>