<div class="auction-list-page">
    <h1>Shipments manage</h1>
    <h2>Nepřiřazené aukce</h2>
    <div class="auction-list col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div ng-if="myWinAuction.length" class="auction-header-line col-sm-12 col-md-12 col-lg-12">
            <div class="auction-header col-sm-9 col-md-9 col-lg-10">
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">From</div>
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">To</div>
                <div class="auction-cell col-sm-4 col-md-4 col-lg-4">Freight description</div>
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">Price</div>
                <div class="auction-cell col-sm-2 col-md-2 col-lg-2">End auction</div>
            </div>
        </div>
        <div class="auction-body col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div ng-if="!myWinAuction.length" class="no-auction">Žádné dostupné aukce...</div>
            <div class="auction-item" ng-repeat="item in myWinAuction">
                <detail-auction auction-item="{item}" drivers="{drivers}"></detail-auction>
            </div>
        </div>
    </div>
</div>
<div class="assignments">
    <table>
        <caption>Přiřazení řidiči na zásilky</caption>
        <tr>
            <th>Jméno</th>
            <th>Přijmení</th>
            <th>Řidičák</th>
            <th>Bydliště</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in assigments">
            <td>{{item.driver_name}}</td>
            <td>{{item.driver_surname}}</td>
            <td>B</td>
            <td>Revucka 1204/16 78401 Litovel</td>
            <td>
                <span class="glyphicon glyphicon-hand-up" ng-click="showDetail(item.id_auction)"></span>
            </td>
        </tr>
    </table>
</div>
